body {
  width: 100%;
  background-color: #f7f5e8;
  font-weight: 200;
}
.container-fluid {
  background-color: #f7f5e8;
  background-image: url(http://www.transparenttextures.com/patterns/grey-jean.png);
  padding-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f7f5e8;
  vertical-align: center;
  font-weight: 200;
}
.container-fluid b {
  font-weight: 400;
}
ul {
  list-style-type: none;
}
header {
  width: 100%;
}
.fixed {
  position: fixed;
  z-index: 50;
  width: 100%;
}
footer {
  margin: 20px 0px;
}
.page-h1 {
  font-size: 2.3em;
  color: #b70101;
  margin: 20px 0px -5px 25px;
  padding: 0;
  font-weight: 200;
}
.number-of-nots {
  background-color: #f7f5e8;
  color: #b70101;
  border-radius: 4px;
  padding: 0px 4px;
  font-size: 0.7em;
  margin-left: 10px;
  position: relative;
  top: -3px;
  font-weight: 200;
}
.center {
  text-align: center;
}
.header-div {
  background: #b70101;
  padding-bottom: 30px;
}
.header-text {
  color: #f7f5e8;
  font-weight: 200;
}
.header-text:hover {
  color: #f7f5e8;
  text-decoration: none;
}
h1.header-text {
  font-size: 4em;
  margin-top: 1em;
  font-weight: 200;
}
h2.header-text {
  font-size: 1.6em;
  padding-bottom: 1em;
}
#downloads {
  padding-bottom: 2em;
}
#downloads button {
  margin-top: 1em;
}
.page-content {
  position: relative;
  top: 55px;
}
.my-uw-nav {
  background-color: #b70101;
  padding-top: 8px;
  height: 53px;
  position: fixed;
}
.my-uw-nav h3 {
  position: relative;
  left: 30px;
  top: -5px;
  color: #fff;
  padding: 10px 0 0 10px;
  margin: 0;
}
.log-out {
  position: relative;
  top: -2px;
  float: right;
  color: #fff;
  padding-top: 10px;
}
form {
  text-align: center;
}
.crest {
  display: block;
  position: absolute;
  width: 55px;
  top: -15px;
  left: -7px;
  z-index: 10;
  overflow: hidden;
}
.main-search {
  width: 90%;
  background-color: #b70101;
  border: none;
  border-bottom: 2px solid #660000;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 1.6em;
  color: #f7f5e8;
  float: right;
  padding: 0px 0px 2px 6px;
}
.main-search[placeholder="Search My-UW"] {
  color: #f7f5e8;
}
.main-search:focus {
  outline: none;
}
.main-search {
  width: 90%;
  display: block;
  background-color: #f7f5e8;
  border: none;
  border-bottom: 1px solid #f7f5e8;
  margin-top: -10px;
  margin-bottom: 3px;
  font-size: 1.6em;
  color: ;
  float: right;
  padding: 3px 0px 3px 15px;
}
.main-search[placeholder="Search My-UW"] {
  color: ;
}
.main-search:focus {
  outline: none;
}
.glyphicon-search {
  float: right;
  color: #f7f5e8;
  top: 5px;
  padding-right: 8px;
}
::-webkit-input-placeholder {
  color: #660000;
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.8em;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #660000;
  font-size: 1em;
  font-weight: 200;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #660000;
  font-size: 1em;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: #660000;
  font-size: 1em;
  font-weight: 200;
}
.up-portlet-wrapper {
  position: fixed;
  top: 30px;
  left: 30px;
  margin: 0;
  padding: 0;
}
.up-portlet-wrapper li {
  font-size: 1.1em;
  width: 140px;
  padding: 7px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f7f5e8;
  background-image: url(http://www.transparenttextures.com/patterns/grey-jean.png);
}
.up-portlet-wrapper a:hover {
  text-decoration: none;
}
.up-portlet-wrapper,
.mockup-links-list {
  padding: 40px 0px 60px 0px;
}
.up-portlet-wrapper li,
.mockup-links-list li {
  font-size: 1.1em;
  margin: 3px 0px;
}
.mockup-links-list li {
  font-size: 1.5em;
}
li a {
  color: #b70101;
}
li a:hover {
  color: #660000;
}
#final-list-item {
  border-bottom: none;
}
.portlet-div {
  background-color: #ffffff;
  margin: 20px 20px 0px 0px;
  padding-bottom: 10px;
  border-radius: 3px;
  border: 0px solid #b70101;
  box-shadow: 0px 0px 7px #ccc;
  box-model: border-box;
}
.left-column .portlet-div {
  margin: 20px 10px 0px 0px;
}
.right-column {
  padding-left: 0px !important;
}
.portlet-content {
  padding: 10px 20px;
}
.portlet-title {
  border-top: 5px solid #b70101;
  border-bottom: 1px solid #e5e5e5;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.portlet-title h1 {
  font-size: 1.8em;
  color: #b70101;
  width: 100%;
  font-weight: 200;
  display: inline;
  margin: 0px;
  position: relative;
}
.portlet-title h1 span.fa {
  width: 38px;
  height: 38px;
  font-size: 0.8em;
  margin: 8px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #b70101;
  text-align: center;
  padding: 8px 0px 0px 0px;
  opacity: 1.0;
}
.portlet-title > div {
  float: right;
  display: inline;
  padding-right: 10px;
}
.portlet-title span {
  color: #b70101;
  font-size: 1.4em;
  padding-right: 6px;
  margin-top: 5px;
  opacity: 0.7;
}
.portlet-title span:hover {
  opacity: 1.0;
  cursor: pointer;
}
.portlet-title div {
  position: relative;
  top: 10px;
}
.portlet-list {
  margin: 0px;
  padding: 0px;
}
.portlet-list li {
  font-size: 1.2em;
}
.portlet-div h3 {
  font-size: 1.4em;
  font-weight: 200;
  margin: 0;
  padding: 10px 0px 5px 10px;
}
.portlet-div .button-group {
  display: inline-block;
  width: 100%;
  margin: 0px 0px -7px -8px;
}
.portlet-div .btn {
  float: right;
  border: 1px solid #b70101;
  background-color: #f7f5e8;
  color: #b70101;
  margin: 4px;
}
.portlet-div .btn-default:hover {
  color: #f7f5e8;
  background-color: #b70101;
  border: 1px solid #b70101;
}
.portlet-div .btn-primary {
  background-color: #f7f5e8;
  color: #660000;
  border: 1px solid #660000;
}
.portlet-div .btn:focus {
  outline: none;
}
.portlet-div .btn-primary:hover {
  background-color: #660000;
  border: 1px solid #660000;
  color: #f7f5e8;
}
#lynda-list {
  padding-left: 15px;
}
.notifications-list {
  margin: 20px 20px 0px 0px;
  padding: 0px;
}
.notifications-list li {
  font-size: 1.1em;
  color: #444;
  background-color: #e7d9c1;
  border-radius: 4px;
  margin: 8px 0px;
  padding: 8px 10px 8px 10px;
  border-left: 5px solid #b70101;
  font-weight: 400;
  opacity: 0.8;
}
.notifications-list a {
  color: #b70101;
}
.notifications-list a :hover {
  color: #660000;
  text-decoration: none;
}
li.read {
  background-color: #f7f5e8;
  font-weight: 200;
  color: #555;
  border: none;
  opacity: 0.7;
  padding-left: 15px;
}
.exit-icon {
  float: right;
  margin-top: 3px;
}
.exit-icon:hover {
  cursor: pointer;
}
.read-icon {
  color: #b70101;
  font-size: 0.8em;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.read-icon:hover {
  cursor: pointer;
}
section.side-bar-menu {
  box-shadow: none;
}
@media (max-width: 992px) {
  .main-search {
    display: none;
  }
  .up-portlet-wrapper {
    display: none;
  }
  .portlet-div {
    margin-right: 0px;
  }
  .notifications-list {
    margin-right: 0px;
  }
  .glyphicon-search {
    visibility: hidden;
  }
  .log-out {
    display: none;
  }
  .left-column .portlet-div {
    margin: 20px 0px 0px 0px;
  }
  .right-column {
    padding-left: 15px !important;
  }
}
