/* Marketplace Styling */
@import "variables";

/*-------------*/
/* BROWSE PAGE */
/*-------------*/
.marketplace {
  input:focus,span:focus {
    outline:none;
  }
  h2 {
    margin: 0 0 5px;
    span {
      &.fa {
        width: 38px;
        height: 38px;
        font-size: 0.7em;
        margin: 4px 0 0 10px;
        position: relative;
        border-radius: 50%;
        border: 1px solid @grayscale10;
        text-align: center;
        padding: 8px 0 0 0;
        opacity: 1.0;
        color: @grayscale10;
        top: 8px;
      }
      &.portlet-title {
        padding-left: 10px;
        font-size: 0.85em;
      }
    }
  }
  .btn {
    .fa {
      padding-right: 8px;
    }
  }

  /* MARKETPLACE BODY */
  .marketplace-body {
    .portlet-container {
      border-bottom:1px solid @grayscale3;
      marketplace-entry {
        p {
          margin-bottom: 0;
        }
        .marketplace-entry {
          padding: 12px 22px;
          background: @white;
        }
        .rating {
          margin-left: 0;
        }
        /* TODO: Change default my-uw CSS to add underline to links that are :not(.md-button) */
        a.md-button:hover {
          text-decoration: none;
        }
        &:hover {
          cursor: default;
        }
      }
    }
    .mp-mobile-buttons {
      width: 100%;
    }
    .mp-mobile-details {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      min-width: 70px;
    }
    .marketplace-load-more {
      text-align:center;
      background-color:@white;
      padding: 8px 16px;
    }
    .mp-entry-title-row {
      margin-bottom: 8px;
    }
    .loading-gif {
      text-align: center;
    }
    @media (min-width:600px) {
      margin: 15px;
    }
  }

  /* MARKETPLACE SEARCH */
  .mp-search {
    width:100%;
    position:relative;
    font-size:1.8em;
    font-weight:200;
    padding:4px 4px 4px 12px;
    margin:0 0 0 0;
    display:block;
    height:50px;
    border:0 solid transparent;
  }

  /* MARKETPLACE HEADER */
  .mp-header {
    background: @white;
    margin-bottom: 15px;
    md-input-container.browse-input {
      margin: 0;
      padding: 0 0 0 50px;
      height: 50px;
      > md-icon.material-icons {
        height: 50px;
        width: 50px;
        top: 0;
        left: 0;
        background: @grayscale2;
        > .fa-search {
          font-size: 20px;
          padding: 15px;
        }
      }
    }
    ::-webkit-input-placeholder {
      color: @tabs-inactive;
      font-size:0.8em;
      font-weight:200;
      line-height:1.8em;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: @tabs-inactive;
      font-size:1em;
      font-weight:200;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: @tabs-inactive;
      font-size:1em;
      font-weight:200;
    }
    :-ms-input-placeholder {
      color: @tabs-inactive;
      font-size:1em;
      font-weight:200;
    }
    @media (max-width: 767px) {
      .browse-help {
        width:auto;
      }
      .browse-input {
        .mp-search {
          font-size:1.5em;
          padding-left:15px;
        }
      }
    }
  }

  /* MARKETPLACE TABS */
  .mp-tabs-container {
    position: relative;
    width: auto;
    background: @white;
    border-bottom: 1px solid @tabs-border;
    .mp-prev-button, .mp-next-button {
      display: none;
      height: 100%;
      width: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1em;
      z-index: 2;
      cursor: pointer;
      font-size: 16px;
      transition: @all-transition;
      > .fa {
        line-height: 48px;
        display: block;
        text-align: center;
        font-size: 12px;
        color: @tabs-inactive;
      }
      @media (max-width: 375px) {
        display: block;
      }
    }
    .mp-prev-button {
      left: 0;
    }
    .mp-next-button {
      right: 0;
    }
    .mp-tabs-canvas {
      display: block;
      position: relative;
      margin: 0;
      height: 48px;
      width: auto;
      ul.mp-tabs {
        margin: 0;
        transform: translate3d(0, 0, 0);
        li.mp-tab {
          display: inline-block;
          font-size: 14px;
          text-align: center;
          line-height: 24px;
          padding: 12px 24px;
          transition: background-color .35s cubic-bezier(.35,0,.25,1);
          cursor: pointer;
          white-space: nowrap;
          position: relative;
          text-transform: uppercase;
          float: left;
          font-weight: 500;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          color: @tabs-inactive;
          .mp-tabs-slide {
            background: @color1;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: @tabs-slide-transition;
          }
          &.active {
            cursor: default;
            color: @color1;
            .mp-tabs-slide {
              bottom: 0;
            }
          }
          &:focus {
            outline: none;
          }
        }
        /* TABS (XS-ONLY) */
        @media (max-width: 375px) {
          position: absolute;
          display: flex;
          height: 48px;
          transition: transform .5s cubic-bezier(.35,0,.25,1);
          &.slide-right {
            transform: translate3d(-60vw, 0, 0);
          }
        }
      }
      /* TABS CANVAS (XS-ONLY) */
      @media (max-width: 375px) {
        margin: 0 32px;
        overflow: hidden;
      }
    }
  }
  /* MARKETPLACE NO RESULTS */
  .mp-no-results {
    padding:10px 15px;
    background-color:@white;
    .mp-no-results-container {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      .mp-sad-bucky {
        display: block;
        margin: 12px auto;
      }
      .mp-no-results-list {
        text-align: left;
      }
    }
  }
  /* MARKETPLACE CATEGORIES */
  .category-links {
    background-color:@white;
    color:@categoryBlue;
    border-color: @categoryBlue;
    margin: 3px;
    transition: @button-transition;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      text-decoration:none;
      background-color:@categoryBlue;
      color:@white;
      opacity:1.0;
    }
  }
  .show-categories {
    padding:10px;
    border-bottom:1px solid @grayscale4;
    display:inline-block;
    width:100%;
    background-color:@white;
    .category-links:first-child {
      margin-left: 3px;
    }
    a {
      float:left;
      display:block;
      margin:3px;
      transition: @button-transition;
    }
    a:hover {
      cursor:pointer;
    }
    p {
      float:left;
      display:block;
      padding:5px 10px 0 10px;
      margin:0;
    }
    .selected-category {
      background-color:@categoryBlue;
      color:@white;
      opacity:1.0;
    }
  }
}

/*--------------*/
/* DETAILS PAGE */
/*--------------*/
.portlet-details-page {
  padding-bottom:0;
  .portlet-title {
    padding-left:5px;
  }
  > md-card {
    margin: 15px;
    > md-card-header {
      md-card-avatar {
        portlet-icon {
          margin: 0 auto;
        }
      }
      .md-button {
        margin: 0;
      }
    }
    md-content {
      padding-bottom: 16px;
    }
  }
  a.md-button {
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    margin:0 0 10px;
    padding-top:10px;
  }
  .back-to-home {
    > .fa {
      margin-right: 6px;
    }
  }
  .desc-item.rating-div {
    padding-top:10px;
  }
  .rating {
    margin-left:0;
  }
  .desc-item {
    border-bottom:2px solid @grayscale4;
    margin: 0 16px;
    padding: 16px 0;
    h3 {
      margin:5px auto 15px;
    }
    ul {
      margin:0;
      padding:0;
    }
    p {
      margin-bottom: 0;
    }
    .screenshot h3 {
      margin:5px 20px 15px;
    }
    .md-button:first-child {
      margin-left: 0;
    }
    a.md-accent.md-raised {
      &.category-links {
        background-color: @white;
        color: @categoryBlue;
        margin: 6px 8px;
        &:hover {
          background-color: @categoryBlue;
          color: @white;
        }
      }
    }
  }
  /* DETAILS PAGE SCREENSHOTS */
  .portlet-screenshots {
    margin:0;
    padding:0;
    display:inline-block;
    border-left:1px solid @grayscale3;
    ul {
      margin:0;
      padding:0 0 0 20px;
      li {
        display:inline-block;
        float:left;
        margin:5px;
        border: solid 1px @grayscale3;
      }
      &.enlarge {
        list-style-type:none;
        li {
          display:inline-block;
          position: relative;
          z-index: 0;
          margin: 10px 40px 0 20px;
        }
        span {
          position:fixed;
          left:9000px;
          padding: 10px 10px 5px 10px;
          background:@grayscale10;
          font-size:.9em;
          text-align: center;
          color: @grayscale4;
          border-radius: 4px;
          img {
            padding: 2px;
            width:100%;
          }
          p {
            margin:5px;
          }
          li:hover {
            z-index: 50;
            cursor: pointer;
          }
        }
      }
    }
    img{
      max-width:100%;
      width:100%;
    }
    @media only screen and (min-width: 768px){
      ul.enlarge li:hover span{
        width:60vw;
        top:20%;
        left:28.67%;
      }
      img{
        width:320px;
      }
    }
  }
  .portlet-footer {
    background-color:@grayscale3;
    border-top:0 solid transparent;
    padding: 0 16px;
    a {
      color:@grayscale8;
      &:hover {
        color:@grayscale11;
        text-decoration:none;
      }
    }
  }
  .enlarge li {
    float:left;
  }
  .left {
    text-align: left;
    padding:0 10px;
  }

  .preview {
    padding: 15px;
    h2 {
      text-align: center;
    }
    .middle {
      width : 315px;
      margin: auto;
      .fixed-width-widget {
        .widget-frame {
          margin: 0;
          .launch-app-button {
            text-transform: uppercase;
            transition: @button-transition;
            &:hover {
              background: @grayscale8;
              transform: initial;
            }
          }
        }
      }
    }
    button.md-raised.fixed-width {
      margin: 8px auto;
      width: 315px;
      display: block;
    }
  }
  @media (max-width: 500px) {
    > md-card {
      margin: 0;
      > md-card-header {
        padding-bottom: 0;
      }
    }
    .back-to-home {
      min-width: 36px;
      text-align: right;
      .fa {
        font-size: 28px;
      }
    }
    .md-headline {
      font-size: 18px;
      line-height: 1.2;
    }
    .preview {
      padding-bottom: 15px;
      border-bottom: 2px solid @grayscale4;
      .middle {
        width : 100%;
        .fixed-width-widget {
          width: inherit;
        }
      }
      button.md-raised.fixed-width {
        width: 100%;
      }
    }
  }
}
