.search-results {
  background-color: @white;
  margin: 15px;
  padding: 3px 0 0;
  .no-result {
    padding: 10px 0 5px;
  }
  hr {
    margin: 0;
  }

  h4.header, .seeMoreResults {
    margin: 10px 0 5px;
  }
  .search-results-container {
    padding: 0 10px 20px 20px;
    .moreDetails{
      padding-top:5px;
    }
  }
  .result {
    padding: 5px 0 5px;
    h4 {
      font-weight: 400;
      margin-bottom: 0;
    }
    p {
      margin: 0;
      b {
        font-weight: 600;
      }
    }
    .md-button.add {
      margin-left: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .added {
      margin-right: 15px;
    }
    .rating {
      margin-left: 20px;
    }
  }
  .md-tab {
    text-transform: none;
  }
}
