// LIST OF LINKS
lol {
  .list-of-links {
    height: 194px;
    padding: 0;

    div[class^="list-of-links__"] {
      height: 194px;
      overflow: hidden;
      display: flex;
      flex-flow: row wrap;

      &.list-of-links__1 {
        justify-content: center;
        align-items: center;
        align-content: center;
      }

      &.list-of-links__2 {
        justify-content: space-around;
        align-items: baseline;
        align-content: center;
        padding: 40px 0;
      }

      &.list-of-links__3 {
        justify-content: space-around;
        align-items: baseline;
        align-content: space-around;
      }

      &.list-of-links__4 {
        justify-content: space-around;
        align-items: baseline;
        align-content: flex-start;
      }

      &.list-of-links__long {
        justify-content: space-around;

        .widget-list a:hover {
          cursor: pointer;
        }
      }

      circle-button {
        width: 120px;
        height: 88px;
        text-align: center;
      }
    }
  }
}

// OPTION LINK
option-link {
  .widget-option-link {
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .option-link-icon {
      margin-bottom: 16px;

      i {
        color: @grayscale10;
        font-size: 70px;
      }
    }

    md-input-container {
      margin: 0 0 18px;
    }
  }
}

// RSS
rss {
  .rss {
    overflow-y: hidden;
    height: 194px;

    .widget-list {
      max-height: 194px;

      li a {
        div {
          display: inline-block;
        }

        div.headline {
          width: 80%;
          font-size: 12px;
        }

        div.headline.nodate {
          width: 100%;
        }

        div.date {
          width: 18%;
          font-size: 10px;
          vertical-align: top;
        }
      }
    }
  }
}

// SEARCH WITH LINKS
swl {
  md-input-container {
    margin-top: 0;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    .md-button {
      margin: 0;
      padding: 0;
    }
  }

  div[class^="search-with-links__"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    width: 100%;

    circle-button {
      width: 120px;
      height: 88px;
      text-align: center;
    }
  }
}

// BASIC
.basic-widget {
  height: 194px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;

  .widget-icon-container {
    padding-top: 40px;
  }

  &:hover {
    text-decoration: none !important;
  }
}

// CUSTOM
.custom-widget {
  height: 194px;

  md-input-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
}

// WEATHER
weather {
  .forecast .day {
    text-align: center;
    border-radius: 4px;
    padding: 0 8px;

    p {
      font-size: 11px;
    }
  }

  .fa-exclamation-triangle {
    font-size: -webkit-xxx-large;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 12px;
  }

  .warning-message-weather-widget {
    text-align: -webkit-center;
    padding: 20px;
  }

  .fa-frown-o {
    font-size: 50px;
    width: 100%;
    text-align: center;
  }

  .error-message-weather-widget {
    font-size: smaller;
    text-align: center;
  }

  img {
    width: 42px;
    position: relative;
    right: 1px;
  }

  a {
    color: #666;
  }

  .credit {
    position: absolute;
    font-size: 9px;
    right: 0;

    a {
      color: @color1;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .weather-dropdown {
    position: absolute;
    bottom: 39px;
    left: 12px;
    font-size: 10px;
  }

  .weather-not-clicked {
    color: #b70101;
  }

  @media (max-width: 1246px) {
    .weather-dropdown {
      right: 20px;
    }
  }

  @media (max-width: 1200px) {
    .weather-dropdown {
      right: 30px;
    }
  }
}

// WIDGET CREATOR
.widget-creator {
  .portlet-body {
    padding: 10px;

    .container__select-template {
      padding-bottom: 20px;
    }

    widget-card {
      width: 300px;
    }

    .help-notes p {
      color: #999;
      font-size: 12px;
      margin-bottom: 0;
    }

    textarea {
      padding: 10px 14px;
      overflow-y: scroll;
    }
  }

  ::-webkit-input-placeholder {
    color: @grayscale6;
    font-size: 12px;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: @grayscale6;
    font-size: 12px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: @grayscale6;
    font-size: 12px;
  }

  :-ms-input-placeholder {
    color: @grayscale6;
    font-size: 12px;
  }
}

.scroll-widget {
  max-height: 210px;
  overflow-y: scroll;
}

.fixed-width-widget {
  width: 315px;
}

.widget-middle {
  width: 315px;
  margin: auto;
}

// MAINTENANCE MODE
.widget-frame {
  .overlay__maintenance-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    border-radius: 3px;

    .maintenance-content {
      text-align: center;
      font-weight: bold;
      padding: 10px;
      background: #fff;
      margin: 66px 10px 0;
      display: block;
      border-radius: 3px;

      p {
        margin-bottom: 0;

        .material-icons {
          height: 40px;
          width: 40px;
          font-size: 40px;
        }
      }
    }
  }
}
