<div class="row">
  <h1 class="page-h1">Angular Page</h1>
</div>
<div class="row notifications">
  <div class="col-sm-12">
    <notifications></notifications>
  </div>
</div>
<div class="row" ng-controller="MainController as mainCtrl">
  <div class="col-sm-6 left-column" ng-repeat="portlet in mainCtrl.data.layout">
    <div class="portlet-div">
      <div class="portlet-title">
        <h1><img src="{{portlet.iconUrl}}"><a href="{{ portlet.url}}">{{ portlet.title }}</a></h1>
        <div>
          <span class="glyphicon glyphicon-star portlet-options"></span>
          <span class="glyphicon glyphicon-resize-full portlet-options"></span>
          <span class="glyphicon glyphicon-remove portlet-options"></span>
        </div>
      </div>
      <div class="portlet-content">
        {{portlet.description}}
      </div>
    </div>
  </div>
  <div class="col-sm-6 right-column">
    <div class="portlet-div">
      <div class="portlet-title">
        <h1>Course Services</h1>
        <div>
          <span class="glyphicon glyphicon-star portlet-options"></span>
          <span class="glyphicon glyphicon-resize-full portlet-options"></span>
          <span class="glyphicon glyphicon-remove portlet-options"></span>
        </div>
      </div>
      <div class="portlet-content">
        <ul class="portlet-list">
          <li><a href='https://admin.lists.wisc.edu/classlists' target='_blank'>Manage EMAIL CLASS LISTS (Classlist Module)</a></li>
          <li><a href='http://www.registrar.wisc.edu/classroom_scheduling.htm' target='_blank'>Classroom scheduling</a></li>
          <li><a href='http://registrar.wisc.edu/grades_and_grading_policy.htm' target='_blank'>Grades and grading policy</a></li>
          <li><a href='http://www.doit.wisc.edu/learnatuw/' target='_blank'>Learn about Learn@UW</a></li>
          <li><a href='http://www.library.wisc.edu/inst-services' target='_blank'>Library Instructional Services for Faculty</a></li>
          <li><a href='http://registrar.wisc.edu/faculty_staff_forms.htm' target='_blank'>Registrar's Office Faculty/Staff Forms</a></li>
          <li><a href='http://registrar.wisc.edu/documents/Official_Programs_of_Study.pdf' target='_blank'>Academic programs listing</a></li>
          <li><a href='https://tle.wisc.edu/' target='_blank'>Teaching and Learning Excellence@UW-Madison</a></li>
          <li><a href='http://registrar.wisc.edu/curricular_toolkit.htm' target='_blank'>Curricular Toolkit</a></li>
          <li><a href='http://learnuw.wisc.edu/' target='_blank'>LEARN@UW COURSES</a></li>

          </ul>
      </div>
    </div>
  </div>
</div>
