<div class="row">
  <h1 class="page-h1">Angular Page</h1>
</div>
<div class="row notifications">
  <div class="col-sm-12">
    <notifications></notifications>
  </div>
</div>
<div class="row" ng-controller="MainController as mainCtrl">
  <div class="col-sm-6 left-column" ng-repeat="portlet in mainCtrl.data.layout">
    <div class="portlet-div">
      <div class="portlet-title">
        <h1><img src="{{portlet.iconUrl}}"><a href="{{ portlet.url}}">{{ portlet.title }}</a></h1>
        <div>
          <span class="glyphicon glyphicon-remove portlet-options"></span>
        </div>
      </div>
      <div class="portlet-content">
        {{portlet.description}}
      </div>
    </div>
  </div>
</div>
