<div class="portlet-div">
    <a href="#/marketplace">
        <div class="portlet-title text-center">
            <h1>Click to add more!</h1>
                <div>
                    <i class="fa fa-times portlet-options" ng-click="mainCtrl.removePortlet($index,mainCtrl.data.layout)"></i>
                </div>
        </div>
    </a>
    <a href="#/marketplace">
        <div class="portlet-content text-center">
            Your favorites are more exciting with more content
        </div>
    </a>
</div>
