
<div ng-controller="MarketplaceController as marketplaceCtrl" class="card col-xs-12 col-md-12">
  <div class="card-header mp-header">
    <img class="header-image" src="img/terrace.jpg">
    <div class="card-header-text">
      <h1>UW Marketplace</h1>
      <p>The Marketplace contains everything you need at UW. Search for what you need or browse the collection to add what you'll use most often to your home page.</p>
      <span class="fa fa-search mp-search-icon"></span><input type="text" class="marketplace-search" placeholder="What are you looking for?" ng-model="searchTerm">
    </div>
    <div class="header-opaque mp-opaque">
      <ul>
        <li id="browse-by">Browse by:</li>
        <li ng-click="selectFilter('popular','')" ng-class="{true:'selected-filter'}[selectedFilter === 'popular']">Most Popular</li>
        <li ng-click="selectFilter('az','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'az']">A-Z</li>
        <li ng-click="selectFilter('category','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'category']">Categories</li>
      </ul>

    </div>

  </div>
  <div ng-show="showCategories" class="show-categories">
    <p>Categories:</p><a ng-repeat="category in categories" href="" class="category-links" ng-click="selectFilter('category',category)" ng-class="{true: 'selected-category'}[categoryToShow === category]">{{category}}</a>
  </div>

  <div data-loading class='loading-gif'><img src="img/ajax-loader.gif"></div>
  <div class="portlet-container" ng-repeat="portlet in marketplaceCtrl.portlets | filter:searchTermFilter | showCategory:categoryToShow | orderBy:sortParameter" ng-class="{portlet_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="showDetails = !showDetails">
    <marketplace-portlet></marketplace-portlet>
  </div>
</div>
