
<div ng-controller="MarketplaceController as marketplaceCtrl" class="card col-xs-12 col-md-12">
  <div class="card-header mp-header">
    <img class="header-image" src="img/terrace.jpg" alt="Chairs at the Union Terrace">
    <div class="card-header-text">
      <h1>UW Apps</h1>
      <p>Find the information and resources you need at UW-Madison. Add frequently used apps to your Home page or simply launch an app for immediate use.</p>
      <span class="fa fa-search mp-search-icon"></span><input type="text" class="marketplace-search" placeholder="What are you looking for?" ng-model="searchTerm" select-on-page-load>
    </div>
    <div class="header-opaque mp-opaque">
      <ul>
        <li id="browse-by">Browse by:</li>
        <li ng-click="selectFilter('popular','')" ng-class="{true:'selected-filter'}[selectedFilter === 'popular']">Most Popular</li>
        <li ng-click="selectFilter('az','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'az']">A-Z</li>
        <li ng-click="selectFilter('category','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'category']">Categories</li>
      </ul>

    </div>
  </div>
  <div class="show-all-div">
    <p>Showing {{ (marketplaceCtrl.portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length }} of {{ marketplaceCtrl.portlets.length }} apps.</p>
    <div><p><input type="checkbox" ng-click="toggleShowAll()">Show all<span tooltip-placement="left" tooltip="Show all apps, even if I don't have access" tooltip-append-to-body="true"><i class="fa fa-question-circle" ></i></span></p></input></div>
  </div>
  <div ng-show="showCategories" class="show-categories">
    <p>Categories:</p><a ng-repeat="category in categories" href="" class="category-links" ng-click="selectFilter('category',category)" ng-class="{true: 'selected-category'}[categoryToShow === category]">{{category}}</a>
  </div>

  <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
  <div class="portlet-container" ng-repeat="portlet in marketplaceCtrl.portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow | orderBy:sortParameter | limitTo:30" ng-class="{portlet_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="showDetails = !showDetails">
    <marketplace-portlet></marketplace-portlet>
  </div>
</div>
