<nav id="portlet_u1311l1n19" class="side-bar-menu">
  <ul class="list-group sidebar" style="padding-top: 10px; width: 10em;">
    <li class="list-group-item"><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="list-group-item"><a href='#/marketplace'><span class="glyphicon glyphicon-cog"></span> Apps</a></li>
    <li class="list-group-item"><a href='#'><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
    <li class="list-group-item"><a href='#'><span class="glyphicon glyphicon-eye-open"></span> Settings</a></li>
    <li class="list-group-item"><a href='#'><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
    <li class="list-group-item"><a href="/portal/Logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
 </ul>
</nav>
