/* General MyUW Styles */

body {
  width: 100%;
  background-color: #f7f5e8;
}
#body-background {
  background-color: #f7f5e8;
  background-image: url(http://www.transparenttextures.com/patterns/grey-jean.png);
  min-height: 90vh;
}
h1,h2,h3,h4,h5,h6 {
  vertical-align: center;
  font-weight: 200;
}
p {
  font-weight:400;
}
.container-fluid b {
  font-weight: 400;
}
ul {
  list-style-type: none;
}
header {
  width: 100%;
}
.fixed {
  position: fixed;
  z-index: 50;
  width: 100%;
}
.center {
  text-align: center;
}

.navbar .container-fluid {
  background-color: @color1;
}
.col-xs-12,.col-sm-12 {
  padding:0;
}
.col-sm-10 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-10, .col-md-12, .col-md-6, .col-sm-6, .col-md-3, .col-xs-12 {
  padding-left:0px;
  padding-right:0px;
}
.col-sm-10 {
  margin-top:20px;
}
div:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
::-webkit-input-placeholder {
  color: #660000;
  font-size:0.8em;
  font-weight:200;
  line-height:1.8em;
}
:-moz-placeholder { /* Firefox 18- */
  color: #660000;
  font-size:1em;
  font-weight:200;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #660000;
  font-size:1em;
  font-weight:200;
}
:-ms-input-placeholder {
  color: #660000;
  font-size:1em;
  font-weight:200;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s ease;
  opacity: 0;
}
.btn-default:focus {
  color:@grayscale5;
  background-color:@white;
  border-color:@grayscale5;
}
.loading-gif {
  margin:20px 0px;
}
