/* Buttons */
.btn-lg {
  padding:12px 40px;
}
.btn-sm {
  padding:4px 12px;
}
.btn-xs {
  padding:2px 5px;
}
.btn-uw {
  background-color: @color1;
  margin: 10px 0px;
  color: @white;
  border-radius: 4px;
  border: 0px solid transparent;
  box-shadow: 0px 5px 0px @color3;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  position: relative;
}
.btn-uw:hover {
  transform: translateY(2px);
  background-color:@color2;
  text-decoration:none;
  box-shadow:0px 3px 0px @black;
  transition:0.1s ease-in-out;
  color:@white;
}
// .btn-uw:active {
//   box-shadow:0px 1px 0px #000;
//   transform:translateY(4px);
// }
.btn-uw-flat {
  background-color:@color1;
  border:0px solid transparent;
  border-radius:4px;
  margin:10px 0px;
  color:@white;
  box-shadow:none;
}
.btn-uw-flat:hover {
  transform:none;
  background-color:@color2;
  box-shadow:none;
}
.btn-uw-outline {
  background-color:transparent;
  color:@color1;
  margin:10px 0px;
  border-radius:4px;
  border:1px solid @color1;
  box-shadow:none;
}
.btn-uw-outline:hover {
  background-color:@color1;
  box-shadow:none;
  transform:none;
  color:@white;
}
.btn-uw-dark {
  background-color:@color2;
  box-shadow:0px 5px 0px @color3;
}
.btn-uw-dark:hover {
  background-color:@color3;
}
.btn-uw-success {
  background-color:#00c70d;
  box-shadow:0px 5px 0px #009411;
}
.btn-uw-success:hover {
  background-color:#009411;
  box-shadow:0px 3px 0px #067500;
}
.btn-uw-neutral {
  background-color:#007acc;
  box-shadow:0px 5px 0px #004980;
}
.btn-uw-neutral:hover {
  background-color:#004980;
  box-shadow: 0px 3px 0px #002c52;
}
.btn-uw-disabled {
  background-color:#ddd;
  color:#999;
  box-shadow:0px 5px 0px #ccc;
  cursor:default;
}
.btn-uw-disabled:hover {
  transform:none;
  background-color:#ddd;
  color:#999;
  box-shadow:0px 5px 0px #ccc;
  cursor:default;
}
