.widget-body .fa {
  font-size:14px;
  padding:0px;
}

/* Style Guide */  
.my-uw .rounded {
  border-radius:1000px;
}
.my-uw .input-group .btn {
  margin:0px 0px;
}
.input-group input {
  border:0px solid transparent;
}
.widget-body .input-group {
  margin:10px;
  .fa {
    font-size:18px;
  }
}
.widget-body .icon-button {
  width:60px;
  height:60px;
  border-radius:1000px;
  padding-top:18px;
  a .fa {
    color:#fff;
    font-size:24px;
  }
}

weather {
    .forecast .day {
        text-align: center;
        border-radius: 4px;
        padding:0px 8px;
        p {
          font-size:11px;
        }
    }
    img {
      width:42px;
      position:relative;
      right:1px;
    }
    a {
      color:#666;
    }
    .credit {
      font-size:9px;
      text-align:center;
      a {
        color:#b70101;
        &:hover {
          text-decoration:underline;
        }
      }
    }
}