<div class="portlet-content">
   <div ng-if="'option-link' === portlet.widgetType">
     <div class="widget-icon-container" style='  max-height: 110px;'>
       <portlet-icon></portlet-icon>
     </div>
     <div>
        <div>
         <div ng-if="portlet.widgetData && portlet.widgetData.length == 0">
             loading...
         </div>
         <div ng-if="portlet.widgetData && portlet.widgetData.linked.length == 0" >
             {{portlet.widgetData.email}}
         </div>
         <div ng-if="portlet.widgetData && portlet.widgetData.linked.length >= 1">
             <select ng-model="portlet.selectedUrl" class='form-control'>
                 <option selected="selected" value="{{portlet.widgetData.uri}}">{{portlet.widgetData.email}}</option>
                 <option ng-repeat='obj in portlet.widgetData.linked' value="{{obj.uri}}">{{obj.email}}</option>
             </select>
         </div>
        </div>
     </div>
   </div>
</div>
<a class="btn btn-default launch-app-button" href="{{portlet.selectedUrl}}" target="_blank">Launch {{portlet.title}}</a>