/* Notification Styling */
.notifications-list {
  margin: 20px 20px 0px 0px;
  padding: 0px;
}
.notifications-list li {
  font-size: 1.1em;
  color: #333;
  background-color: #e7d9c1;
  border-radius: 4px;
  margin: 8px 0px;
  padding: 8px 10px 8px 10px;
  border:none;
  border-left: 10px solid #b70101;
  font-weight: 400;
}
.notifications-list a {
  color: #b70101;
}
.notifications-list a :hover {
  color: #660000;
  text-decoration: none;
}
li.read {
  background-color: #f7f5e8;
  font-weight: 200;
  color: #555;
  border: none;
  opacity: 0.7;
  padding-left: 15px;
}
.unread {
  font-weight: bold;
  border: 1px black solid;
  cursor: pointer;
}
