.project
.codekit-cache
config.codekit
target
.classpath
.settings
.tern-project
node_modules
units.html
*.swp
*.iml
.idea/
catalina.base_IS_UNDEFINED/
overlays/
logs/
.DS_Store
.codenvy/project.json
web/.codenvy
mock-portal/.codenvy
doc_target
npm-debug.log
docs/_site
docs/Gemfile.lock
docs/\.ruby-version
web/src/main/webapp/META-INF
.vscode
