.project
.codekit-cache
config.codekit
target
.classpath
.settings
.tern-project
node_modules
units.html
*.swp
*.iml
.idea/
catalina.base_IS_UNDEFINED/
overlays/
logs/
.DS_Store
angularjs-portal-home/src/main/webapp/my-app/my-app.css
.codenvy/project.json
angularjs-portal-home/.codenvy
angularjs-portal-mock-portal/.codenvy
doc_target
npm-debug.log
docs/_site
