<div class="list-content" id="portlet-id-{{::portlet.nodeId}}">
  <div class='widget-info'>
    <i title="Info" class="fa fa-info-circle"
    uib-tooltip="{{::portlet.description}}"
    tooltip-trigger="mouseenter"
    tooltip-placement="top"
    tooltip-popup-delay="200"></i>
  </div>
  <div class='widget-remove' ng-hide='GuestMode'>
    <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"><a aria-label="Remove this app symbol" href="#"></a></i>
  </div>
  <a aria-labelledby="appTitle_portlet.title-{{::portlet.nodeId}}" tabindex="0" ng-if="'EXCLUSIVE' === layoutCtrl.portletType(portlet)" href="exclusive/{{::portlet.fname}}" target="{{::portlet.target}}">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4 id="appTitle_portlet.title-{{::portlet.nodeId}}">{{ ::portlet.title }}</h4>
    </div>
  </a>
  <a aria-labelledby="appTitle_portlet.title-{{::portlet.nodeId}}" tabindex="0" ng-if="'NORMAL' === layoutCtrl.portletType(portlet)" href="{{::portlet.url}}" target="{{::portlet.target}}">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4 id="appTitle_portlet.title-{{::portlet.nodeId}}">{{ ::portlet.title }}</h4>
    </div>
  </a>
  <a aria-labelledby="appTitle_portlet.title-{{::portlet.nodeId}}" tabindex="0" ng-if="'SIMPLE' === layoutCtrl.portletType(portlet)" ng-click="layoutCtrl.maxStaticPortlet(portlet)">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4 id="appTitle_portlet.title-{{::portlet.nodeId}}">{{ ::portlet.title }}</h4>
    </div>
  </a>


</div>
