<md-card class="list-content" id="portlet-id-{{::portlet.nodeId}}">
  <md-button class="widget-action widget-info md-icon-button" aria-label="see a brief description of this app">
    <md-tooltip md-direction="top" class="widget-action-tooltip">
      {{portlet.description}}
    </md-tooltip>
    <md-icon>info</md-icon>
  </md-button>
  <md-button class="widget-action widget-remove md-icon-button"
             aria-label="remove {{ portlet.title }} widget from your home screen"
             ng-click="layoutCtrl.removePortlet(portlet.fname)"
             ng-hide="GuestMode || cantRemove">
    <md-icon>close</md-icon>
  </md-button>

  <a aria-labelledby="appTitle_portlet.title-{{::portlet.nodeId}}" tabindex="0" ng-href="{{ layoutCtrl.renderURL(portlet) }}" target="{{::portlet.target}}">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4 id="appTitle_portlet.title-{{::portlet.nodeId}}">{{ ::portlet.title }}</h4>
    </div>
  </a>
</md-card>
