<script type="text/ng-template" id="toggle-modes.html">
  <div ng-controller="ToggleController">
    <md-menu-item ng-if='modeIs(MODES.EXPANDED)'>
      <md-button class="md-accent" href="javascript:;" ng-click="switchMode(MODES.COMPACT)">Show Compact Mode</md-button>
    </md-menu-item>
    <md-menu-item ng-if='modeIs(MODES.COMPACT)'>
      <md-button class="md-accent" href="javascript:;" ng-click="switchMode(MODES.EXPANDED)">Show Expanded Mode</md-button>
    </md-menu-item>
  </div>
</script>
<app-header-two-way-bind app-title="'Home'"
            app-icon="'fa-home'"
            app-action-link-url="'apps'"
            app-action-link-icon="GuestMode ? 'fa-globe' : 'fa-plus-square'"
            app-action-link-text="GuestMode ? 'Browse MyUW' : 'Add more to home'"
            app-option-template="'toggle-modes.html'">
</app-header-two-way-bind>
