<md-icon ng-if="portlet.mdIcon">{{ portlet.mdIcon }}</md-icon>
<img ng-if="!portlet.mdIcon && !portlet.faIcon && portlet.iconUrl" ng-src="{{portlet.iconUrl}}" alt="App icon">
<i ng-if="!portlet.mdIcon && portlet.faIcon && portlet.faIcon.indexOf('fa-')===0" class="fa {{::portlet.faIcon}}"></i>
<i ng-if="!portlet.mdIcon && portlet.faIcon && portlet.faIcon.indexOf('fa-')!==0" class="{{::portlet.faIcon}}"></i>
<i ng-if="!portlet.mdIcon && !portlet.faIcon && !portlet.iconUrl" class="fa fa-star"></i>
