<div class="list-content" id="portlet-id-{{::portlet.nodeId}}">
  <div class='card-info'>
    <i title="Info" class="fa fa-info-circle"
    tooltip="{{::portlet.description}}"
    tooltip-trigger="mouseenter"
    tooltip-placement="top"
    tooltip-popup-delay="200"></i>
  </div>
  <div class='card-remove'>
    <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"></i>
  </div>
  <a ng-if="'NORMAL' === layoutCtrl.portletType(portlet)" href="{{::portlet.url}}" target="{{::portlet.target}}">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4>{{ ::portlet.title }}</h4>
    </div>
  </a>
  <a ng-if="'SIMPLE' === layoutCtrl.portletType(portlet)" ng-click="layoutCtrl.maxStaticPortlet(portlet)">
    <div class="icon-container">
      <portlet-icon></portlet-icon>
    </div>
    <div class="list-item-container">
      <h4>{{ ::portlet.title }}</h4>
    </div>
  </a>
  
  
</div>