<div class="list-content" id="portlet-id-{{::portlet.nodeId}}">
  <a href="{{::portlet.url}}" target="{{::portlet.target}}">
    <div class="icon-container">
      <i class="fa {{::portlet.faIcon}}" ng-if="portlet.faIcon !== '' && portlet.faIcon !== null"></i>
    </div>
    <div class="list-item-container">
      <h4>{{ ::portlet.title }}</h4>
    </div>
  </a>
  <!-- <div class='card-remove'>
    <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"></i>
  </div> -->
</div>