
<div ng-controller="" class="row portlet-frame">
  <div class="portlet-header">
    <img src="img/square.jpg" alt="UW Campus cover image">
    <h1>MyUW Redesign Blog</h1>
    <p class="portlet-description">Stay up-to-date on the newest features of MyUW.</p>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="features-feed">
        <p class="date">12/11/2014</p>
        <h3>Drag and drop your favorites</h3>
        <hr>
        <p>By popular demand, you can now rearrange your favorites on the home screen of MyUW while on desktop. This feature is not supported on mobile.</p>
        <div class="image-div"><img src="img/drag-and-drop-screenshot.png"></div>
        <a class="btn btn-uw" href="/portal/p/feedback">Give Feedback</a>
      </div>
    </div>
  </div>


</div>
