

<div class="row portlet-frame">
  <home-header></home-header>
  <div class="col-xs-12 no-padding portlet-body" ng-controller="LayoutController as layoutCtrl">
    <div class="inner-nav-container">
      <ul class="inner-nav">
        <li class="active home-title">
            <a>My Favorites</a>
        </li>
        <li class="hide-mobile">
          <a href='#/apps'
           tooltip="Browse for more apps"
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           tooltip-popup-delay="500">
          <i class='fa fa-plus'></i>
         </a>
        </li>
        <span class="layout-chooser" ng-if="toggle">
          <li class="active"><a><i class="fa fa-th" ng-if="toggle"></i></a></li>
          <li><a href="#/widgets"><i class="fa fa-th-large" ng-if="toggle"></i></a></li>
        </span>
      </ul>
      
    </div>
    <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
    <!-- List View -->
    <ul ui-sortable="sortableOptions" ng-model="layout" class="tile-list">
       <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 no-padding list-container" ng-repeat="portlet in layout">
         <default-card></default-card>
       </li>
       <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 no-padding list-container">
         <marketplace-light></marketplace-light>
       </li>
    </ul>
    
    <!-- <marketplace-light class="col-xs-12 col-sm-6 col-md-6 col-lg-4 no-padding" ></marketplace-light> -->
  </div>
</div>
