<div class="row portlet-frame">
  <home-header></home-header>
  <div class="col-xs-12 no-padding portlet-body" ng-controller="WidgetController as widgetCtrl">
    <div class="inner-nav-container">
      <ul class="inner-nav">
        <li class="active home-title">
            <a>My Favorites</a>
        </li>
        <li class="hide-mobile">
          <a href='#/apps'
           tooltip="Browse for more apps"
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           tooltip-popup-delay="500">
          <i class='fa fa-plus'></i>
         </a>
        </li>
        <span class="layout-chooser" ng-if="toggle">
          <li><a href="#/list"><i class="fa fa-th" ng-if="toggle"></i></a></li>
          <li class="active"><a href="#/widgets"><i class="fa fa-th-large" ng-if="toggle"></i></a></li>
        </span>
      </ul>
      
    </div>
    <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
    
    <!-- Widget View -->
    <ul ui-sortable="sortableOptions" ng-model="layout" class="tile-list">
      <!-- My Courses Example -->
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">  
        <div class="widget-content" id="portlet-id-{{::portlet.nodeId}}">
          <div class="ribbon-wrapper"><div class="ribbon">Demo</div></div>
          <div>
            <div class="widget-title">
              <h4>My Courses (6)</h4>
            </div>
            <ul class="widget-list">
              <li>
                <p class="bold">General Physics</p>
                <p>M 10:30 ECCR 1203</p>
              </li>
              <li>
                <p class="bold">Introduction to Pottery</p>
                <p>TR 2:30 CS 3223</p>
              </li>
              <li>
                <p class="bold">European Intellectual History</p>
                <p>TR 12:10 BIO 143</p>
              </li>
              <li>
                <p class="bold">Molecular Mechanics</p>
                <p>MWF 8:30 ECCR 1302</p>
              </li>
              <li>
                <p class="bold">Biochemistry</p>
                <p>F 10:15 CHEM 405</p>
              </li>
            </ul>
            <a class="btn btn-default launch-app-button" href="{{::portlet.url}}" target="{{::portlet.target}}">See All</a>
          </div>
        </div>
      </li>
      <!-- End Example -->
      <!-- Email Example -->
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">  
        <div class="widget-content" id="portlet-id-{{::portlet.nodeId}}">
          <div class="ribbon-wrapper"><div class="ribbon">Demo</div></div>
          <div>
            <div class="widget-title">
              <h4>Email (14)</h4>
            </div>
            <!-- Dropdown Email Chooser -->
            <select class="form-control">
             <option>jared.hanstra@wisc.edu</option>
             <option>hanstra@doit.wisc.edu</option>
            </select>
            <ul class="widget-list">
              <li>
                <p class="bold">John Doe<span class="right">3:50pm</span></p>
                <p>Hey dude I got your message...</p>
              </li>
              <li>
                <p class="bold">Jane Smith<span class="right">2:40pm</span></p>
                <p>Hello Frederick, I wanted...</p>
              </li>
              <li>
                <p class="bold">Jesse Essej<span class="right">1:53pm</span></p>
                <p>Fred, let's get lunch sometime...</p>
              </li>
              <li>
                <p class="bold">Jack Avery<span class="right">12:02pm</span></p>
                <p>To whom it may concern...</p>
              </li>
            </ul>
            <a class="btn btn-default launch-app-button" href="{{::portlet.url}}" target="{{::portlet.target}}">See All</a>
          </div>
        </div>
      </li>
      <!-- Calendar Example -->
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">  
        <div class="widget-content" id="portlet-id-{{::portlet.nodeId}}">
          <div class="ribbon-wrapper"><div class="ribbon">Demo</div></div>
          <div>
            <div class="widget-title">
              <h4>Calendar (8)</h4>
            </div>
            <ul class="widget-list">
              <li>
                <p class="bold">9:30<span class="offset">Stand-up</span></p>
                <p>3233 Computer Science Bldg</p>
              </li>
              <li>
                <p class="bold">11:00<span class="offset">Notifications Meeting</span></p>
                <p>Jim's Office</p>
              </li>
              <li>
                <p class="bold">2:00<span class="offset">Ice Cream Break</span></p>
                <p>Union South</p>
              </li>
              <li>
                <p class="bold">3:00<span class="offset">Grooming</span></p>
                <p>WID 103</p>
              </li>
              <li>
                <p class="bold">3:30<span class="offset">Portal Developer Meeting</span></p>
                <p>4112 Computer Science Bldg</p>
              </li>
            </ul>
            <a class="btn btn-default launch-app-button" href="{{::portlet.url}}" target="{{::portlet.target}}">See All</a>
          </div>
        </div>
      </li>
      <!-- End Example -->
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container" ng-repeat="portlet in layout">
        <widget-card></widget-card>
      </li>
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">
        <div class="widget-content add-favorites">
           <a href='#/apps'>
             <div class="widget-icon-container">
               <i class="fa fa-plus"></i>
             </div>
             <div class="widget-title">
               <h4>Add to Favorites</h4>
             </div>  
           </a>
        </div>
      </li>
    </ul>
  </div>
</div>