<div class="row portlet-frame">
  <home-header></home-header>
  <div class="col-xs-12 no-padding portlet-body" ng-controller="WidgetController as widgetCtrl">
    <div class="inner-nav-container">
      <ul class="inner-nav">
        <li class="active home-title">
            <a>My Favorites</a>
        </li>
        <li class="hide-mobile">
          <a href='#/apps'
           tooltip="Browse for more apps"
           tooltip-trigger="mouseenter"
           tooltip-placement="top"
           tooltip-popup-delay="500">
          <i class='fa fa-plus'></i>
         </a>
        </li>
        <span class="layout-chooser" ng-if="toggle">
          <li><a href="#/list"><i class="fa fa-th" ng-if="toggle"></i></a></li>
          <li class="active"><a href="#/widgets"><i class="fa fa-th-large" ng-if="toggle"></i></a></li>
        </span>
      </ul>
      
    </div>
    <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
    
    <!-- Widget View -->
    <ul ui-sortable="sortableOptions" ng-model="layout" class="tile-list">
      <example-widgets ng-if="$storage.exampleWidgets"></example-widgets>
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container" ng-repeat="portlet in layout">
        <widget-card></widget-card>
      </li>
    </ul>
    <ul class="tile-list">
       <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">
         <div class="widget-content add-favorites">
           <a href='#/apps'>
             <div class="widget-icon-container">
               <i class="fa fa-plus"></i>
             </div>
             <div class="widget-title">
               <h4>Add to Favorites</h4>
             </div>  
           </a>
        </div>
       </li>
    </ul>
  </div>
</div>