<span class="layout-chooser" ng-if="toggle">
  <li ng-class="{active : modeIs('list')}">
    <a  href="javascript:;" ng-click="switchMode('list')"
      tooltip-html-unsafe="icons"
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      tooltip-popup-delay="500"
    >
        <i class="fa fa-th"></i>
    </a>
  </li>
  <li ng-class="{active : modeIs('widgets')}" >
    <a href="javascript:;" ng-click="switchMode('widgets')"
      tooltip="widgets"
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      tooltip-popup-delay="500"
    >
      <i class="fa fa-th-large"></i>
    </a>
  </li>
</span>

