
<div ng-controller="MarketplaceController as marketplaceCtrl" class="row card col-xs-12 col-md-12 no-padding">
  <div class="card-header mp-header">
    <img class="header-image" src="img/terrace.jpg" alt="Chairs at the Union Terrace">
    <div class="card-header-text">
      <h1>UW Apps</h1>
      <p>Find the information and resources you need at UW-Madison. Add frequently used apps to your Home page or simply launch an app for immediate use.</p>
      <span class="fa fa-search mp-search-icon"></span><input type="text" class="marketplace-search" placeholder="What are you looking for?" ng-model="searchText" select-on-page-load aria-label="Filter Apps">
    </div>
    <div class="header-opaque mp-opaque">
      <ul>
        <li ng-click="selectFilter('popular','')" ng-class="{true:'selected-filter'}[selectedFilter === 'popular']">Most Popular</li>
        <li ng-click="selectFilter('az','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'az']">A-Z</li>
        <li ng-click="selectFilter('category','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'category']">Categories</li>
      </ul>

    </div>
  </div>
  <div class="show-all-div">
    <p>Showing {{ (marketplaceCtrl.portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length }} of {{ marketplaceCtrl.portlets.length }} apps. </p>
    <div><p><input type="checkbox" ng-click="toggleShowAll()">Show all<span popover="Show all apps, even if I don't have access" popover-append-to-body="true" popover-placement="left" popover-trigger="mouseenter"><i class="fa fa-question-circle" ></i></span></p></input></div>
  </div>
  <div ng-show="showCategories" class="show-categories">
    <p>Categories:</p><a ng-repeat="category in categories" href="" class="category-links" ng-click="selectFilter('category',category)" ng-class="{true: 'selected-category'}[categoryToShow === category]">{{category}}</a>
  </div>

  <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
  <div class="portlet-container" ng-repeat="portlet in marketplaceCtrl.portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow | orderBy:sortParameter | limitTo:searchResultLimit" ng-class="{portlet_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="showDetails = !showDetails">
    <marketplace-portlet></marketplace-portlet>
  </div>
  <div class="marketplace-load-more">
    <button class="btn btn-primary btn-lg"
            ng-click="searchResultLimit = searchResultLimit + 20;"
            hide-while-loading
            ng-show="(marketplaceCtrl.portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length > searchResultLimit"
           >Load More</button>
  </div>
  <script type="text/ng-template" id="ratingModal.html">
        <div class="modal-header center">
            <h3 class="modal-title">Rate {{::name}}</h3>
        </div>
        <div class="modal-body center">
            <div class="help-block" ng-if="rating.previouslyRated">
                You have already rated {{::name}}. You may update your rating if you wish.
            </div>
            <div class="help-block" ng-if="!rating.previouslyRated">
                You have not yet rated {{::name}}. Share a rating if you wish.
            </div>
            <div class="rating-input">
                <rating ng-model="rating.rating"></rating> ({{rating.rating}}/5)
            </div>
            <div class="help-block">Tell us more (optional)</div>
            <div class="form-group">
                <textarea ng-maxlength="160" ng-model="rating.review" style='width: 90%;'></textarea>
            </div>
            <div class="help-block" ng-if="thanks">Thanks!</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="ok()">Save & Close</button>
        </div>
  </script>
</div>
