<div class="portlet-div" id="portlet-id-{{::portlet.nodeId}}">
  
  <a href="{{::portlet.url}}" target="{{::portlet.target}}" >
  <div class="portlet-title">
      <portlet-icon></portlet-icon><h1>{{ ::portlet.title }}</h1>
  </div>
  </a>
  
  <div class='card-remove'>
     <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"></i>
  </div>
  <div class="portlet-content">
     <div ng-bind-html="portlet.pithyStaticContent"></div>
  </div>
</div>
