<script type="text/ng-template" id="ratingModal.html">
        <div class="modal-header center">
            <h3 class="modal-title">Rate {{::name}}</h3>
        </div>
        <div class="modal-body center">
            <div class="help-block" ng-if="rating.previouslyRated">
                You have already rated {{::name}}. You may update your rating if you wish.
            </div>
            <div class="help-block" ng-if="!rating.previouslyRated">
                You have not yet rated {{::name}}. Share a rating if you wish.
            </div>
            <div class="rating-input">
                <rating ng-model="rating.rating"></rating> ({{rating.rating}}/5)
            </div>
            <div class="help-block">Tell us more (optional)</div>
            <div class="form-group">
                <textarea ng-maxlength="160" ng-model="rating.review" style='width: 90%;'></textarea>
            </div>
            <div class="help-block" ng-if="thanks">Thanks!</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="ok()">Save & Close</button>
        </div>
  </script>