<div class="row portlet-frame">
  <div class="portlet-header">
    <img src="img/stand-back.jpg" alt="Science" height="180px" style="left: 30%; width: inherit;">
    <h1>Beta Settings</h1>
    <p>Opting in/out of beta features</p> 
  </div>
  <div class="col-xs-12 no-padding portlet-body">
    <h3 class="home-section-header">Your Options</h3>
    <ul class='col-sm-6' style='padding-top: 1em;'>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-default' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-default' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="false">Off</label>
               </span>
               Sidebar Quicklinks
           </h4>
           <small>Shows quicklinks to various campus sites in sidebar</small> 
           
       </li>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowSettings, 'btn-default' : !$storage.sidebarShowSettings }" ng-model="$storage.sidebarShowSettings" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowSettings, 'btn-default' : !$storage.sidebarShowSettings }" ng-model="$storage.sidebarShowSettings" btn-radio="false">Off</label>
               </span>
               Sidebar Settings 
           </h4>
           <small>Shows the settings button to get to this page easier</small>
           
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.notificationsDemo, 'btn-default' : !$storage.notificationsDemo }" ng-model="$storage.notificationsDemo" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.notificationsDemo, 'btn-default' : !$storage.notificationsDemo }" ng-model="$storage.notificationsDemo" btn-radio="false">Off</label>
           </span>
           Notification Demo
         </h4>
         <small>Shows a demo of what the notifications could look like on the home page</small>
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.pithyContentOnHome, 'btn-default' : !$storage.pithyContentOnHome }" ng-model="$storage.pithyContentOnHome" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.pithyContentOnHome, 'btn-default' : !$storage.pithyContentOnHome }" ng-model="$storage.pithyContentOnHome" btn-radio="false">Off</label>
           </span>
           Pithy content cards
         </h4>
         <small>Shows pithy content cards rather than default cards for portlets with associated pithy static content.  Pithy content cards are the cards show some portlet-specific markup right on the face of the card.</small>
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.myProfileOption, 'btn-default' : !$storage.myProfileOption }" ng-model="$storage.myProfileOption" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.myProfileOption, 'btn-default' : !$storage.myProfileOption }" ng-model="$storage.myProfileOption" btn-radio="false">Off</label>
           </span>
           My Profile Option in Menu
         </h4>
         <small>Enable/Disable the option to jump to my profile in the sidebar</small>
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.showKeywordsInMarketplace, 'btn-default' : !$storage.showKeywordsInMarketplace }" ng-model="$storage.showKeywordsInMarketplace" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.showKeywordsInMarketplace, 'btn-default' : !$storage.showKeywordsInMarketplace }" ng-model="$storage.showKeywordsInMarketplace" btn-radio="false">Off</label>
           </span>
           Show Keywords in Marketplace
         </h4>
         <small>Enable/Disable keywords showing up in marketplace details</small>
       </li>
       <li class="portlet-container-home beta-card-style">
            <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.typeaheadSearch, 'btn-default' : !$storage.typeaheadSearch }" ng-model="$storage.typeaheadSearch" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.typeaheadSearch, 'btn-default' : !$storage.typeaheadSearch }" ng-model="$storage.typeaheadSearch" btn-radio="false">Off</label>
           </span>
                Enable typeahead in the portlet search bar
            </h4>
            <small>Enable/Disable the typeahead in the portlet search bar</small>
        </li>
        <li class="portlet-container-home beta-card-style">
             <h4>
            <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.contentView, 'btn-default' : !$storage.contentView }" ng-model="$storage.contentView" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.contentView, 'btn-default' : !$storage.contentView }" ng-model="$storage.contentView" btn-radio="false">Off</label>
           </span>
           Content View
         </h4>
         <small>Displays the toggle to switch views between list and content.</small>
       </li>
    </ul>
    <ul class="col-sm-6" style='padding-top: 1em;'>
        <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
          <h4>Home Background Image &nbsp;</h4>
          <small>Pick a different background image for MyUW Home</small>
          <div style='text-align: center;'>
            <div style='padding: 1em;'>
                <img ng-src="{{$storage.homeImg}}" height='100px'>
            </div>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/terrace.jpg'">Chairs at the Union Terrace</label>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/square.jpg'">333 East Campus</label>
            
          </div>
       </li>
       <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
         <h4>Home Profile Image &nbsp;</h4>
         
         <h5>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowProfile, 'btn-default' : !$storage.sidebarShowProfile }" ng-model="$storage.sidebarShowProfile" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowProfile, 'btn-default' : !$storage.sidebarShowProfile }" ng-model="$storage.sidebarShowProfile" btn-radio="false">Off</label>
           </span>
           Show profile picture 
         </h5>
         <small>Shows the profile picture in the sidebar</small>
         <br/>
         <small>Pick a different profile image for MyUW Home</small>
         <div style='text-align: center;'>
           <div style='padding: 1em;'>
             <img ng-src="{{$storage.profileImg}}" height='100px' ng-click="showCustom=true;">
           </div>
           <div class="form-group" ng-if="showCustom">
             <label for="customProfilePic">Custom URL</label>
             <input type="URL" class="form-control" id="customProfilePic" placeholder="http://grumpycat.com" ng-model="$storage.profileImg">
           </div>
           <label class="btn btn-primary" ng-model="$storage.profileImg" btn-radio="'img/terrace.jpg'">Chairs at the Union Terrace</label>
           <label class="btn btn-primary" ng-model="$storage.profileImg" btn-radio="'img/square.jpg'">333 East Campus</label>
           
         </div>
       </li>
    </ul>
  </div>
</div>
