<div class="portlet-div" id="portlet-id-{{::portlet.nodeId}}">

  <a href="#/static/{{::portlet.fname}}">
    <div class="portlet-title">
        <img ng-src="{{portlet.iconUrl}}" ng-if="portlet.faIcon === '' || portlet.faIcon === null" alt="App icon"><i class="fa {{::portlet.faIcon}}" ng-if="portlet.faIcon !== '' && portlet.faIcon !== null"></i><h1>{{ ::portlet.title }}</h1>
    </div>
  </a>
  <div class='card-remove'>
     <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"></i>
  </div>
  <a href="#/static/{{::portlet.fname}}" >
    <div class="portlet-content">
      {{:: portlet.description | truncate:160}}
    </div>
  </a>
</div>