<div id="portlet-id-{{::portlet.nodeId}}" ng-click="layoutCtrl.toggleDiv(portlet.nodeId);">

  <div class="portlet-title">
      <portlet-icon></portlet-icon><h1>{{ ::portlet.title }}</h1>
  </div>
  
  <div class='card-remove'>
     <i title="Remove" class="fa fa-times portlet-options" ng-click="layoutCtrl.removePortlet(portlet.nodeId, portlet.title)"></i>
  </div>
  <div class="portlet-content">
    {{:: portlet.description | truncate:160}}
  </div>
  <div ng-bind-html="portlet.staticContent" class="hidden up-portlet-content-wrapper" id="content-{{::portlet.nodeId}}">
  </div>
</div>