<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<div ng-controller="AppMenuController">
  <md-menu-item>
    <md-button ng-href="{{ homeUrl }}" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
      <md-icon>home</md-icon>
      <span>{{ appTitle }} home</span>
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="/web/apps" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center">
      <md-icon>explore</md-icon>
      <span>Browse apps</span>
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="/web/notifications" ng-click="vm.closeMainMenu();">
      <md-icon>notifications</md-icon>
      <span>Notifications</span>
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="/web/about" ng-click="vm.closeMainMenu();" layout="row" layout-align="start center" aria-label="About {{ appTitle }}">
      <md-icon>info</md-icon>
      <span>About</span>
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="/web/session-info" ng-click="vm.closeMainMenu();">
      <md-icon>help_outline</md-icon>
      <span>Version information</span>
    </md-button>
  </md-menu-item>
  <md-subheader ng-if="renderMe">{{ appTitle }} Home options</md-subheader>
  <md-menu-item ng-if="renderMe">
    <md-button
      aria-label="Toggle between expanded and compact widget display modes"
      ng-controller="ToggleController"
      ng-click="toggleMode(expandedMode)">
      <md-icon>widgets</md-icon>
      <span>Change widget display mode</span>
    </md-button>
  </md-menu-item>
</div>
