<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- COMPACT MODE -->
<frame-page app-title="Home">
  <div role="main" class="no-padding home__compact toast__anchor" ng-controller="WidgetController as widgetCtrl">
    <!-- HOME CONTROLS -->
    <home-controls></home-controls>
    <!-- Loading -->
    <div ng-if="layout.length == 0" layout="row" layout-align="center center">
      <loading-gif data-object="layout" data-empty="layoutEmpty"></loading-gif>
    </div>
    <!-- List View -->
    <ul dnd-list="layout"
        dnd-drop="moveWithDrag(item, index)"
        dnd-horizontal-list="true"
        class="layout-list compact">
      <li class="dndPlaceholder no-padding widget-container"></li>
      <li class="no-padding widget-container"
          tabindex="0"
          aria-label="{{ widget.title }}"
          node-id="{{ widget.nodeId }}"
          selected-node-id="{{ selectedNodeId }}"
          index="{{ $index }}"
          ng-repeat="widget in layout | filter:filterText"
          ng-keydown="moveWithKeyboard(widget, $event);selectNode(widget.nodeId);"
          dnd-draggable="widget"
          dnd-effect-allowed="move"
          dnd-dragend="logEvent('dragEnd', widget.fname, $index)">

        <compact-widget ng-if="APP_FLAGS.useOldLayout" fname="{{ widget.fname }}">
          <remove-button></remove-button>
        </compact-widget>

        <compact-widget ng-if="APP_FLAGS.useNewLayout" fname="{{ widget }}">
          <remove-button></remove-button>
        </compact-widget>

      </li>
    </ul>
    <ul class="layout-list__compact" ng-hide="guestMode">
      <li class="no-padding widget-container">
        <marketplace-light></marketplace-light>
      </li>
    </ul>
  </div>
</frame-page>
