<div class="portlet-list-item" >
  <h2>
    <portlet-icon class='five-px-top-left'></portlet-icon>
    <span class="portlet-title">{{::portlet.title}}</span>
  </h2>
  <div class="action-buttons">

    <!-- Add to home button with access -->
    <button class="btn btn-primary fname-{{::portlet.fname}}"
            ng-click="marketplaceCtrl.addToHome($index , portlet)"
            ng-if="portlet.canAdd && !portlet.hasInLayout"
            ng-class="{disabled : portlet.hasInLayout}">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Remove from home -->
    <button class="btn btn-default fname-academic-resources" ng-click="marketplaceCtrl.removeFromHome(portlet.nodeId, portlet.title)" ng-class="{disabled : portlet.hasInLayout}" ng-if="portlet.hasInLayout">
      <span class="fa fa-times"></span>
      Remove from home
    </button>

    <!-- Add to home button without access -->
    <button class="btn btn-disabled" ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Launch button with access -->
    <a class="btn btn-success" href="{{::portlet.maxUrl}}" target="{{::portlet.target}}" ng-if="portlet.canAdd"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

    <!-- Launch button without access -->
    <a class="btn btn-disabled" href ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

  </div><br>
  <span><rating ng-model="portlet.rating" readonly="true" class="rating"></rating>
    ( {{::portlet.userRated}} rating<span ng-if="portlet.userRated !== 1">s</span> )
  </span>
  <span> | <button ng-click="openRating('sm',portlet.fname, portlet.title)" class="btn btn-default">Rate</button></span>
  <p>{{::portlet.description}}</p>
  <div class="category-list">
    <a ng-repeat="category in portlet.categories" href="" ng-click="selectFilter('category',category)" class="category-links">{{::category}}</a>
    <div class="portlet-details">
      <a href="apps/details/{{::portlet.fname}}">Details</a>
    </div>
  </div>



  <!-- Action buttons for mobile -->
  <div class="action-buttons-mobile">

    <!-- Add to home button with access on mobile-->
    <button class="btn btn-primary fname-{{::portlet.fname}}" ng-click="marketplaceCtrl.addToHome($index , portlet)" ng-show="portlet.canAdd">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Add to home button without access on mobile-->
    <button class="btn btn-disabled" ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Launch button with access on mobile-->
    <a class="btn btn-success" href="{{::portlet.maxUrl}}" ng-show="portlet.canAdd"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

    <!-- Launch button without access on mobile-->
    <a class="btn btn-disabled" href ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>
  </div>


</div>
