
<div ng-controller="MarketplaceController as marketplaceCtrl" class="row portlet-frame marketplace col-xs-12 col-md-12 no-padding">
  <div role="banner" class="portlet-header mp-header">
    <img class="header-image" src="img/terrace.jpg" alt="Chairs at the Union Terrace">
    <h1>Search<span class='hidden-xs'> and Browse</span> {{NAMES.title}}</h1>
    <p class="portlet-description"></p>
    <span class="fa fa-search mp-search-icon"></span><input type="text" class="marketplace-search" placeholder="What are you looking for?" ng-model="searchText" select-on-page-load aria-label="Search bar enter the app you are looking for">
    <div class="header-opaque mp-opaque">
      <ul>
        <li ng-click="selectFilter('popular','')" ng-class="{true:'selected-filter'}[selectedFilter === 'popular']"><a href="#" aria-label="search from the most popular apps">Most Popular</a></li>
        <li ng-click="selectFilter('az','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'az']"><a href="#" aria-label="search by alphabetical order">A-Z</a></li>
        <li ng-click="selectFilter('category','')" ng-class="{true: 'selected-filter'}[selectedFilter === 'category']"><a href="#" aria-label="search by categories">Categories</a></li>
      </ul>
    </div>
  </div>
  <div class="show-all-div">
    <p>Showing {{ (portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length }} of {{ portlets.length }} results in {{NAMES.title}}.</p>
    <div><p><input type="checkbox" ng-click="toggleShowAll()" ng-checked="showAll">Show all<span popover="Show all apps, even if I don't have access" popover-append-to-body="true" popover-placement="left" popover-trigger="mouseenter"><i class="fa fa-question-circle" ></i></span></p></input></div>
  </div>
  <div ng-show="showCategories" class="show-categories">
    <p>Categories:</p><a ng-repeat="category in categories" href="" class="category-links" ng-click="selectFilter('category',category)" ng-class="{true: 'selected-category'}[categoryToShow === category]">{{category}}</a>
  </div>

  <loading-gif data-object='portlets'></loading-gif>
  <div class="portlet-container" ng-repeat="portlet in portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow | orderBy:sortParameter | limitTo:searchResultLimit" ng-class="{portlet_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="showDetails = !showDetails">
    <marketplace-portlet></marketplace-portlet>
  </div>
  <div class="marketplace-load-more">
    <button class="btn btn-primary btn-lg"
            ng-click="searchResultLimit = searchResultLimit + 20;"
            hide-while-loading
            ng-show="(portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length > searchResultLimit"
           >Load More</button>
  </div>
  
  <div 
    ng-show="(portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length == 0" 
    class="no-results">
    <p>No matching MyUW content.</p>
    <p>Maybe try:</p>
    <ul>
      <li ng-show="(portlets | filter:searchTermFilter | showApplicable:showAll).length > 0">
        <a href="#" ng-click="selectFilter('az','')">Show matching content beyond the &quot;{{categoryToShow}}&quot; category</a>.</li>
      <li 
        ng-show="(portlets | filter:searchTermFilter | showCategory:categoryToShow).length > 0">
         <a href="#" ng-click="toggleShowAll()">Show matching MyUW content even though it is not launchable</a>.</li>
      <li>
        <a ng-href="http://www.wisc.edu/directories/?q={{searchText}}"
           target="_blank">Search the directory</a> (of people and offices) instead.</li>
      <li>
        <a ng-href="http://www.wisc.edu/search/?q={{searchText}}"
           target="_blank">Search the wisc.edu domain on the Web</a> instead.</li>
      <li>
        <a href="https://kb.wisc.edu/"
           target="_blank">Search the KnowledgeBase</a> instead.</li>
      <li>
        <a href="https://kb.wisc.edu/helpdesk/"
           target="_blank">Ask the Helpdesk</a> for help.</li>
      <li>
        <a href="/portal/p/feedback">Give feedback</a> about search.</li>
    </ul>
  </div>
  
  <rating-modal-template></rating-modal-template>
</div>
