
<div ng-controller="MarketplaceController as marketplaceCtrl" class="row portlet-frame marketplace col-xs-12 col-md-12 no-padding">
  <app-header app-title="Browse {{NAMES.title}}"
              app-icon="fa-home">
  </app-header>
  <div class="marketplace-body">
    <div class="mp-header">
      <div class="browse-help">
        <p class="hidden-xs">What are you looking for?</p>
        <p class="visible-xs"><i class="fa fa-search"></i></p>
      </div>
      <div class="browse-input">
        <input type="text" class="hidden-xs marketplace-search" placeholder="e.g. Benefits Information" ng-model="searchText" select-on-page-load aria-label="Search bar enter the app you are looking for">
        <input type="text" class="visible-xs marketplace-search" placeholder="What are you looking for?" ng-model="searchText" select-on-page-load aria-label="Search bar enter the app you are looking for">
      </div>
    </div>
    <div class="inner-nav-container">
      <ul class="inner-nav">
        <li ng-click="selectFilter('popular','')" ng-class="{true:'active'}[selectedFilter === 'popular']"><a href="#" aria-label="Sort by popularity">Most Popular</a></li>
        <li ng-click="selectFilter('az','')" ng-class="{true: 'active'}[selectedFilter === 'az']"><a href="#" aria-label="Sort by alphabetical order">A-Z</a></li>
        <li ng-click="selectFilter('category','')" ng-class="{true: 'active'}[selectedFilter === 'category']"><a href="#" aria-label="Filter by categories">Categories</a></li>
      </ul>
    </div>
    <div ng-show="showCategories" class="show-categories">
      <p>Categories:</p><a ng-repeat="category in categories" href="" class="btn btn-outline btn-sm category-links" ng-click="selectFilter('category',category)" ng-class="{true: 'selected-category'}[categoryToShow === category]">{{category}}</a>
    </div>

    <loading-gif data-object='portlets'></loading-gif>
    <div class="portlet-container" ng-repeat="portlet in portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow | orderBy:sortParameter | limitTo:searchResultLimit" ng-class="{portlet_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="showDetails = !showDetails">
      <marketplace-entry></marketplace-entry>
    </div>
    <div class="marketplace-load-more">
      <button class="btn btn-primary btn-lg"
              ng-click="searchResultLimit = searchResultLimit + 20;"
              hide-while-loading
              ng-show="(portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length > searchResultLimit"
             >Load More</button>
    </div>

    <div
      ng-show="portlets.length > 0 && (portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length == 0"
      class="no-results">
      <p>No matching MyUW content.</p>
      <p>Maybe try:</p>
      <ul>
        <li ng-show="(portlets | filter:searchTermFilter | showApplicable:showAll).length > 0">
          <a href="#" ng-click="selectFilter('az','')">Show matching content beyond the &quot;{{categoryToShow}}&quot; category</a>.</li>
        <li
          ng-show="(portlets | filter:searchTermFilter | showCategory:categoryToShow).length > 0">
           <a href="#" ng-click="toggleShowAll()">Show matching MyUW content even though it is not launchable</a>.</li>
        <li ng-if="directorySearchUrl">
          <a ng-href="{{directorySearchUrl}}{{searchText}}"
             target="_blank">Search the directory</a> (of people and offices) instead.</li>
        <li ng-if="webSearchUrl">
          <a ng-href="{{webSearchUrl}}{{searchText}}"
             target="_blank">Search <span ng-if="domainResultsLabel">the {{domainResultsLabel}} domain on</span> the Web</a> instead.</li>
        <li ng-if="kbSearchUrl">
          <a ng-href="{{kbSearchUrl}}{{searchText}}"
             target="_blank">Search the KnowledgeBase</a> instead.</li>
        <li ng-if="eventsSearchUrl">
          <a ng-href="{{eventsSearchUrl}}{{searchText}}"
            target="_blank">Search for events</a> instead.</li>
        <li ng-if="helpdeskUrl">
          <a ng-href="{{helpdeskUrl}}"
             target="_blank">Ask the Help Desk</a> for help.</li>
        <li ng-if="feedbackUrl">
          <a ng-href="{{feedbackUrl}}">Give feedback</a> about search.</li>
      </ul>
    </div>
  <rating-modal-template></rating-modal-template>
</div>
