<div ng-controller="MarketplaceDetailsController as detailsCtrl" class="portlet-frame col-xs-12 col-md-12 portlet-details-page">
  <div ng-if='loading' class="row details-header no-margin">
    <loading-gif data-object='obj' data-empty='!loading'></loading-gif>
  </div>

  <div ng-if='error'>
    <div class="alert alert-danger" role="alert" style='margin: 20px;'>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{errorMessage}}
    </div>
  </div>

  <div class="row details-header no-margin" ng-if='!loading && !error'>
  	<div class="col-xs-12 col-lg-6">
  		<h2>
		    <portlet-icon></portlet-icon>
		    <span class="portlet-title">{{::portlet.title}} Details</span>
		  </h2>
		  <a href="apps" class="back-to-home"><i class="fa fa-arrow-circle-o-left"></i> Back to Search and Browse</a>
  	</div>

		<div class="col-xs-12 col-lg-6">
		 	<div class="action-buttons">

		    <!-- Add to Home button with access -->
		    <button class="btn btn-primary fname-{{::portlet.fname}}"
		            ng-click="addToHome()"
		            ng-if="portlet.canAdd && !portlet.hasInLayout"
		            ng-class="{disabled : portlet.hasInLayout}">
		      <span class="fa fa-plus"></span> Add to home
		    </button>

			    <!-- Added to home -->
			    <button class="btn btn-disabled fname-{{::portlet.fname}}"
			            ng-if="portlet.canAdd && portlet.hasInLayout"
			            ng-class="{'btn-disabled' : portlet.hasInLayout}"
			            popover="This app is already in your favorites"
			            popover-trigger="mouseenter"
			            popover-placement="top"
			            popover-popup-delay="500">
			      <i class="fa fa-check"></i> Added to home
			    </button>

			    <!-- Add to home button without access -->
			    <button class="btn btn-disabled" ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500">
			      <span class="fa fa-plus"></span> Add to home
			    </button>

		    <!-- Launch button with access -->
		    <a class="btn btn-success" href="{{::portlet.maxUrl}}" target="{{::portlet.target}}" ng-if="portlet.canAdd"><span class="fa fa-arrow-circle-o-right"></span> Launch</a>

		    <!-- Launch button without access -->
		    <a class="btn btn-disabled" href ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>
		   </div>
		</div>
	</div>
	<div class="row no-margin"  ng-if='!loading && !error'>
		<div class="col-xs-12 col-sm-4 col-lg-3 desc-item">
			<h3 class="center">Description</h3>
			<p class="app-description">{{::portlet.description}}</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3 desc-item center rating-div">
			<h3>Ratings</h3>
			<span><rating ng-model="portlet.rating" readonly="true" class="rating"></rating>
    ( {{::portlet.userRated}} rating<span ng-if="portlet.userRated !== 1">s</span> )
  		</span><br>
  		<button ng-click="openRating('sm',portlet.fname, portlet.title)" class="btn btn-default rate-button">Rate</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3 desc-item center">
			<h3>Related Apps</h3>
      <ul>
        <li ng-repeat="related in portlet.relatedPortlets"><a href="apps/details/{{ ::related.fname }}">{{ ::related.title }}</a></li>
      </ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3 desc-item center">
			<h3>Categories</h3>
			<a ng-repeat="category in portlet.categories" href="" ng-click="selectFilter('category',category)" class="category-links">{{::category}}</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3 desc-item center" ng-if="$storage.showKeywordsInMarketplace">
			<h3>Keywords</h3>
	    <ul>
	      <li ng-repeat="keyword in portlet.keywords | orderBy:'toLowerCase()'  track by $index"><a href='apps/search/{{ ::keyword }}'>{{ ::keyword }}</a></li>
	    </ul>
		</div>
		<div class="col-xs-12 col-lg-9 desc-item screenshots portlet-screenshots" ng-if="portlet.marketplaceScreenshots.length != 0">
			<h3>Screenshots</h3>
	    <ul class="enlarge">
	      <li ng-repeat="screenshot in portlet.marketplaceScreenshots">
	        <img ng-src="{{ ::screenshot.url }}" width ="250px" alt="{{ ::screenshot.captions }}">
	        <span>
	        	<img ng-src="{{ ::screenshot.url }}" alt="{{ ::screenshot.captions }}">
	        	<p ng-repeat="caption in screenshot.captions">{{ ::caption }}</p>
	        </span>
	      </li>
	    </ul>
		</div>
	</div>

	<div class="portlet-footer left">
	 	<ul>
	 		<li><a href="apps"><i class="fa fa-arrow-circle-o-left"></i> Back to Apps</a></li>
	 	</ul>
	</div>
	<rating-modal-template></rating-modal-template>
</div>
