<div class="portlet-list-item" >
  <h2 tabindex="0">
    <portlet-icon class='five-px-top-left'></portlet-icon>
    <span class="portlet-title">{{::portlet.title}}</span>
  </h2>
  <div class="action-buttons" ng-hide="GuestMode">

    <!-- Add to home button with access -->
    <button class="btn btn-primary fname-{{::portlet.fname}}"
            ng-click="addToHome(portlet)"
            ng-if="portlet.canAdd && !portlet.hasInLayout"
            ng-class="{disabled : portlet.hasInLayout}">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Added to home -->
    <button class="btn btn-disabled fname-{{::portlet.fname}}"
            ng-if="portlet.canAdd && portlet.hasInLayout"
            ng-class="{'btn-disabled' : portlet.hasInLayout}"
            popover="This app is already in your favorites"
            popover-trigger="mouseenter"
            popover-placement="top"
            popover-popup-delay="500">
      <i class="fa fa-check"></i>Added to home
    </button>

    <!-- Add to home button without access -->
    <button class="btn btn-disabled" ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500">
      <span class="fa fa-plus"></span>Add to home
    </button>

    <!-- Launch button with access -->
    <a aria-label="launch {{::portlet.title}}" class="btn btn-success" href="{{getLaunchURL(portlet)}}" target="{{::portlet.target}}" ng-if="portlet.canAdd"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

    <!-- Launch button without access -->
    <a class="btn btn-disabled" href ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

  </div>
  <!--GuestMode buttons-->
  <div class="action-buttons" ng-show="GuestMode">
    <a class="btn btn-outline" ng-href="{{loginToAuthPage + '/web/apps/details/'+ portlet.fname}}" >
      Login to use
    </a>
  </div>

  <br>
  <span><rating ng-model="portlet.rating" readonly="true" class="rating"></rating>
    ( {{::portlet.userRated}} rating<span ng-if="portlet.userRated !== 1">s</span> )
  </span>
  <span ng-hide="GuestMode"> | <button ng-click="openRating('sm',portlet.fname, portlet.title)" class="btn btn-default">Rate</button></span>
  <p tabindex="0">{{::portlet.description}}</p>
  <div class="category-list">
    <a ng-repeat="category in portlet.categories" href="" ng-click="selectFilter('category',category)" class="category-links">{{::category}}</a>
    <div class="portlet-details">
      <a href="apps/details/{{::portlet.fname}}">Details</a>
    </div>
  </div>



  <!-- Action buttons for mobile -->
  <div class="visible-xs text-center">
    <div ng-show="GuestMode">
      <div>
        <a class="btn btn-outline" ng-href="{{loginToAuthPage + '/web/apps/details/'+ portlet.fname}}" >
          Login to use
        </a>
      </div>
    </div>
    <div ng-hide="GuestMode">
      <!-- Add to home button with access on mobile-->
      <button class="btn btn-primary fname-{{::portlet.fname}}" ng-click="addToHome(portlet)" ng-show="portlet.canAdd">
        <span class="fa fa-plus"></span>Add to home
      </button>

      <!-- Add to home button without access on mobile-->
      <button class="btn btn-disabled" ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500">
        <span class="fa fa-plus"></span>Add to home
      </button>

      <!-- Launch button with access on mobile-->
      <a aria-label="launch {{::portlet.title}}" class="btn btn-success" ng-href="{{getLaunchURL(portlet)}}" target="{{::portlet.target}}" ng-if="portlet.canAdd"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>

      <!-- Launch button without access on mobile-->
      <a class="btn btn-disabled" href ng-hide="portlet.canAdd" popover="You do not have access to this app" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="500"><span class="fa fa-arrow-circle-o-right"></span>Launch</a>
    </div>
  </div>


</div>
