<md-content style="background-color: #fff;">
  <div tabindex="-1" class="modal-header center">
    <h3 tabindex="0" aria-label="Rate {{::name}}" class="modal-title">Rate {{::portlet.title}}</h3>
  </div>
  <div class="modal-body center">
      <div tabindex="0" id="Rated-{{::portlet.fname}}-description" aria-labelledby="Rated-{{::portlet.fname}}-description" class="help-block" ng-if="rating.previouslyRated">
          You have already rated {{::portlet.title}} as a {{rating.rating}}. You may update your rating if you wish.
      </div>
      <div  tabindex="0" id="NRated-{{::portlet.fname}}-description" aria-labelledby="NRated-{{::portlet.fname}}-description" class="help-block" ng-if="!rating.previouslyRated">
          You have not yet rated {{::portlet.title}}. Share a rating if you wish.
      </div>
      <div>
        <md-input-container>
          <label>Rating</label>
          <md-select ng-model="rating.rating" placeholder="Select a rating (required)" required>
            <md-option ng-value="1">1 (lowest)</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3</md-option>
            <md-option ng-value="4">4</md-option>
            <md-option ng-value="5">5 (highest)</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label>Tell us more (optional)</label>
          <textarea aria-label="Tell us more (optional) text edited box" ng-maxlength="160" rows="3" ng-model="rating.review"></textarea>
        </md-input-container>
      </div>
      <div class="help-block" ng-if="thanks">Thanks!</div>
  </div>
  <div class="modal-footer">
       <md-button md-autofocus class="md-accent" ng-click="cancel()">Close</md-button>
       <md-button md-autofocus class="md-primary" ng-click="ok()" ng-disabled="!rating.rating">Save and Close</md-button>
  </div>
</md-content>
