<div class="row portlet-frame">
  <div class="portlet-header">
    <img src="img/stand-back.jpg" alt="Science" height="180px" style="left: 30%; width: inherit;">
    <h1>Beta Settings</h1>
    <p>Opting in/out of beta features</p>
  </div>
  <div class="col-xs-12 no-padding portlet-body">
    <h3 class="home-section-header">Your Options</h3>
    <ul class='col-sm-6' style='padding-top: 1em;'>
       <li class="portlet-container-home beta-card-style">
           <h4>
             <md-switch class="md-primary" ng-model="$storage.sidebarShowSettings" aria-label="Show Sidebar Settings">
              Sidebar Settings
             </md-switch>
           </h4>
           <small>Shows the settings button to get to this page easier</small>

       </li>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <md-switch class="md-primary" ng-model="$storage.sidebarQuicklinks" aria-label="Show Sidebar Quicklinks">
                 Sidebar Quicklinks
               </md-switch>
           </h4>
           <small>Shows quicklinks to various campus sites in sidebar</small>

       </li>
       <li class="portlet-container-home beta-card-style">
           <h4>
             <md-switch class="md-primary" ng-model="$storage.webPortletRender" aria-label="Render portlets on /web">
               /web portlet rendering
             </md-switch>
           </h4>
           <small>Utilizes the /web's exclusive page for rendering the portlets</small>

       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <md-switch class="md-primary" ng-model="$storage.myProfileOption" aria-label="Add My Profile Option in Menu">
             My Profile Option in Menu
           </md-switch>
         </h4>
         <small>Enable/Disable the option to jump to my profile in the sidebar</small>
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <md-switch class="md-primary" ng-model="$storage.showKeywordsInMarketplace" aria-label="Show Keywords in Marketplace">
             Show Keywords in Marketplace
           </md-switch>
         </h4>
         <small>Enable/Disable keywords showing up in marketplace details</small>
       </li>
       <li class="portlet-container-home beta-card-style">
            <h4>
              <md-switch class="md-primary" ng-model="$storage.typeaheadSearch" aria-label="Enable typeahead in the portlet search bar">
                Enable typeahead in the portlet search bar
              </md-switch>
            </h4>
            <small>Enable/Disable the typeahead in the portlet search bar</small>
        </li>
        <li class="portlet-container-home beta-card-style">
             <h4>
               <md-switch class="md-primary" ng-model="$storage.exampleWidgets" aria-label="Enable Example Widgets">
                 Example Widgets
               </md-switch>
             </h4>
             <small>Show the My Courses, Email, and Calendar example widgets</small>
         </li>
         <li class="portlet-container-home beta-card-style">
             <h4>
               <md-switch class="md-primary" ng-model="$storage.mobileWidgetToggle" aria-label="Enable Widget Toggle on Mobile size screens">
                 Widget Toggle Mobile
               </md-switch>
             </h4>
             <small>Show/Hide widget toggle on small windows (mobile)</small>
         </li>
    </ul>
    <ul class="col-sm-6" style='padding-top: 1em;'>
        <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
          <h4>Home Background Image &nbsp;</h4>
          <small>Pick a different background image for MyUW Home</small>
          <div style='text-align: center;'>
            <div style='padding: 1em;'>
                <img ng-src="{{$storage.homeImg}}" height='100px'>
            </div>
            <md-radio-group ng-model="$storage.homeImg">
             <md-radio-button value="img/terrace.jpg" class="md-primary"> Chairs at the Union Terrace </md-radio-button>
             <md-radio-button value="img/square.jpg"> 333 East Campus </md-radio-button>
           </md-radio-group>
          </div>
       </li>
       <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
         <h4>Home Profile Image &nbsp;</h4>
         <small>Show a profile image in the sidebar</small>
         <h5>
           <md-switch class="md-primary" ng-model="$storage.sidebarShowProfile" aria-label="Show profile picture">
             Show profile picture
           </md-switch>
         </h5>
         <h5 ng-if='$storage.sidebarShowProfile'>
           <md-switch class="md-primary" ng-model="$storage.useGravatar" aria-label="Use Gravatar Email">
             Use Gravatar Email
           </md-switch>
         </h5>
         <div ng-show="$storage.useGravatar && $storage.sidebarShowProfile">
            <label for="gravatarEmail">Gravatar Email <small ng-show="$storage.useGravatar">Setup gravatar account <a href='https://en.gravatar.com/' target='_blank'>here</a>.</small></label>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="gravatarEmail" placeholder="example@wisc.edu" ng-model="$storage.gravatarEmail">
                </div>
                <md-button class='md-raised md-primary md-button md-default-theme' ng-click='reload()'>Reload</md-button>
            </form>
         </div>
         <small ng-if='$storage.sidebarShowProfile && !$storage.useGravatar'>Pick a different profile image for MyUW Home</small>
         <div ng-if='$storage.sidebarShowProfile && !$storage.useGravatar' style='text-align: center;'>
           <div style='padding: 1em;'>
             <img ng-src="{{$storage.profileImg}}" height='100px' ng-click="showCustom=true;">
           </div>
           <div class="form-group" ng-if="showCustom">
             <label for="customProfilePic">Custom URL</label>
             <input type="URL" class="form-control" id="customProfilePic" placeholder="http://grumpycat.com" ng-model="$storage.profileImg">
           </div>
           <md-radio-group ng-model="$storage.profileImg">
            <md-radio-button value="img/terrace.jpg" class="md-primary"> Chairs at the Union Terrace </md-radio-button>
            <md-radio-button value="img/square.jpg"> 333 East Campus </md-radio-button>
          </md-radio-group>
         </div>
       </li>
       <li class="portlet-container-home beta-card-style center">
            <h4>Danger Zone</h4>
            <h4>
              <md-button class='md-raised md-warn md-button md-default-theme' ng-click="resetLocal()">Reset Local Storage</md-button>
              <md-button class='md-raised md-warn md-button md-default-theme' ng-click="clearSession()">Clear Session Storage</md-button>
            </h4>
            <small>Reset to default and clearing the session storage can be nice to clean the slate.</small>
         </li>
         <li class="portlet-container-home beta-card-style center" ng-init="dataempty=false;dataempty2=false;obj=[]">
            <h4>Loading Icon Examples</h4>
            <small>Loading Icon Usage Examples</small>
            <div class='fluid-container row'>
              <div class='col-xs-6'>
                <h5>One Time Use</h5>
                <md-button class='md-raised md-primary md-button md-default-theme' ng-click="dataempty2=!dataempty2">Toggle</md-button>
                <loading-gif data-object='obj' data-empty='dataempty2'></loading-gif>
              </div>
              <div class='col-xs-6'>
                <h5>Reusable</h5>
                <md-button class='md-raised md-primary md-button md-default-theme'  ng-click="dataempty=!dataempty">Toggle</md-button>
                <loading-gif data-object='obj' data-empty='dataempty' data-reuse='true'></loading-gif>
              </div>
            </div>

         </li>
    </ul>
  </div>
</div>
