<div class="row portlet-frame">
  <div class="portlet-header">
    <img src="img/stand-back.jpg" alt="Science" height="180px" style="left: 30%; width: inherit;">
    <h1>Beta Settings</h1>
    <p>Opting in/out of beta features</p>
  </div>
  <div class="col-xs-12 no-padding portlet-body">
    <h3 class="home-section-header">Your Options</h3>
    <ul class='col-sm-6' style='padding-top: 1em;'>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowSettings, 'btn-default' : !$storage.sidebarShowSettings }" ng-model="$storage.sidebarShowSettings" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowSettings, 'btn-default' : !$storage.sidebarShowSettings }" ng-model="$storage.sidebarShowSettings" btn-radio="false">Off</label>
               </span>
               Sidebar Settings
           </h4>
           <small>Shows the settings button to get to this page easier</small>

       </li>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-default' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-default' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="false">Off</label>
               </span>
               Sidebar Quicklinks
           </h4>
           <small>Shows quicklinks to various campus sites in sidebar</small>

       </li>
       <li class="portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.webPortletRender, 'btn-default' : !$storage.webPortletRender, }" ng-model="$storage.webPortletRender" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.webPortletRender, 'btn-default' : !$storage.webPortletRender, }" ng-model="$storage.webPortletRender" btn-radio="false">Off</label>
               </span>
               /web portlet rendering
           </h4>
           <small>Utilizes the /web's exclusive page for rendering the portlets</small>

       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.myProfileOption, 'btn-default' : !$storage.myProfileOption }" ng-model="$storage.myProfileOption" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.myProfileOption, 'btn-default' : !$storage.myProfileOption }" ng-model="$storage.myProfileOption" btn-radio="false">Off</label>
           </span>
           My Profile Option in Menu
         </h4>
         <small>Enable/Disable the option to jump to my profile in the sidebar</small>
       </li>
       <li class="portlet-container-home beta-card-style">
         <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.showKeywordsInMarketplace, 'btn-default' : !$storage.showKeywordsInMarketplace }" ng-model="$storage.showKeywordsInMarketplace" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.showKeywordsInMarketplace, 'btn-default' : !$storage.showKeywordsInMarketplace }" ng-model="$storage.showKeywordsInMarketplace" btn-radio="false">Off</label>
           </span>
           Show Keywords in Marketplace
         </h4>
         <small>Enable/Disable keywords showing up in marketplace details</small>
       </li>
       <li class="portlet-container-home beta-card-style">
            <h4>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.typeaheadSearch, 'btn-default' : !$storage.typeaheadSearch }" ng-model="$storage.typeaheadSearch" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.typeaheadSearch, 'btn-default' : !$storage.typeaheadSearch }" ng-model="$storage.typeaheadSearch" btn-radio="false">Off</label>
           </span>
                Enable typeahead in the portlet search bar
            </h4>
            <small>Enable/Disable the typeahead in the portlet search bar</small>
        </li>
        <li class="portlet-container-home beta-card-style">
             <h4>
            <span class="btn-group">
              <label class="btn" ng-class="{'btn-success' : $storage.exampleWidgets, 'btn-default' : !$storage.exampleWidgets }" ng-model="$storage.exampleWidgets" btn-radio="true">On</label>
              <label class="btn" ng-class="{'btn-success' : $storage.exampleWidgets, 'btn-default' : !$storage.exampleWidgets }" ng-model="$storage.exampleWidgets" btn-radio="false">Off</label>
            </span>
                 Example Widgets
             </h4>
             <small>Show the My Courses, Email, and Calendar example widgets</small>
         </li>
    </ul>
    <ul class="col-sm-6" style='padding-top: 1em;'>
        <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
          <h4>Home Background Image &nbsp;</h4>
          <small>Pick a different background image for MyUW Home</small>
          <div style='text-align: center;'>
            <div style='padding: 1em;'>
                <img ng-src="{{$storage.homeImg}}" height='100px'>
            </div>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/terrace.jpg'">Chairs at the Union Terrace</label>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/square.jpg'">333 East Campus</label>

          </div>
       </li>
       <li class="no-padding portlet-container-home  beta-card-style" style='text-align : center;'>
         <h4>Home Profile Image &nbsp;</h4>
         <small>Show a profile image in the sidebar</small>
         <h5>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowProfile, 'btn-default' : !$storage.sidebarShowProfile }" ng-model="$storage.sidebarShowProfile" btn-radio="true">On</label>
             <label class="btn" ng-class="{'btn-success' : $storage.sidebarShowProfile, 'btn-default' : !$storage.sidebarShowProfile }" ng-model="$storage.sidebarShowProfile" btn-radio="false">Off</label>
           </span>
           Show profile picture
         </h5>
         <h5 ng-if='$storage.sidebarShowProfile'>
           <span class="btn-group">
             <label class="btn" ng-class="{'btn-success' : $storage.useGravatar, 'btn-default' : !$storage.useGravatar }" ng-model="$storage.useGravatar" btn-radio="true">Yes</label>
             <label class="btn" ng-class="{'btn-success' : $storage.useGravatar, 'btn-default' : !$storage.useGravatar }" ng-model="$storage.useGravatar" btn-radio="false">No</label>
           </span>
           Use Gravatar Email
         </h5>
         <div ng-show="$storage.useGravatar && $storage.sidebarShowProfile">
            <label for="gravatarEmail">Gravatar Email <small ng-show="$storage.useGravatar">Setup gravatar account <a href='https://en.gravatar.com/' target='_blank'>here</a>.</small></label>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="gravatarEmail" placeholder="example@wisc.edu" ng-model="$storage.gravatarEmail">
                </div>
                <button class='btn btn-primary' ng-click='reload()'>Reload</button>
            </form>
         </div>
         <small ng-if='$storage.sidebarShowProfile && !$storage.useGravatar'>Pick a different profile image for MyUW Home</small>
         <div ng-if='$storage.sidebarShowProfile && !$storage.useGravatar' style='text-align: center;'>
           <div style='padding: 1em;'>
             <img ng-src="{{$storage.profileImg}}" height='100px' ng-click="showCustom=true;">
           </div>
           <div class="form-group" ng-if="showCustom">
             <label for="customProfilePic">Custom URL</label>
             <input type="URL" class="form-control" id="customProfilePic" placeholder="http://grumpycat.com" ng-model="$storage.profileImg">
           </div>
           <label class="btn btn-primary" ng-model="$storage.profileImg" btn-radio="'img/terrace.jpg'">Chairs at the Union Terrace</label>
           <label class="btn btn-primary" ng-model="$storage.profileImg" btn-radio="'img/square.jpg'">333 East Campus</label>

         </div>
       </li>
       <li class="portlet-container-home beta-card-style center">
            <h4>Danger Zone</h4>
            <h4>
            <span class="btn-group">
              <label class="btn btn-default" ng-click="resetLocal()">Reset Local Storage</label>
            </span>
            <span class="btn-group">
              <label class="btn btn-default" ng-click="clearSession()">Clear Session Storage</label>
            </span>
            </h4>
            <small>Reset to default and clearing the session storage can be nice to clean the slate.</small>
         </li>
         <li class="portlet-container-home beta-card-style center" ng-init="dataempty=false;dataempty2=false;obj=[]">
            <h4>Loading Icon Examples</h4>
            <small>Loading Icon Usage Examples</small>
            <div class='fluid-container row'>
              <div class='col-xs-6'>
                <h5>One Time Use</h5>
                <button class='btn btn-flat' ng-click="dataempty2=!dataempty2">Toggle</button>
                <loading-gif data-object='obj' data-empty='dataempty2'></loading-gif>
              </div>
              <div class='col-xs-6'>
                <h5>Reusable</h5>
                <button class='btn btn-flat' ng-click="dataempty=!dataempty">Toggle</button>
                <loading-gif data-object='obj' data-empty='dataempty' data-reuse='true'></loading-gif>
              </div>
            </div>

         </li>
    </ul>
  </div>
</div>
