<div class="row portlet-frame">
  <home-header></home-header>
  <div role="main" class="col-xs-12 portlet-body" ng-controller="WidgetController as widgetCtrl">
    <div ng-show='$storage.showFilterOption' style='margin: 15px auto; max-width: 1200px;'>
      <div class='col-xs-12' style='margin: 0; padding: 5px;'>
        <input ng-model="filterText" placeholder='Filter items on your home screen' class='form-control'>
      </div>
    </div>
    <loading-gif  data-object='layout' data-empty='layoutEmpty'></loading-gif>
    <!-- Widget View -->
    <ul ui-sortable="sortableOptions" ng-model="layout" class="tile-list">
      <example-widgets ng-if="$storage.exampleWidgets"></example-widgets>
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container" ng-repeat="portlet in layout | filter:filterText">
        <widget-card></widget-card>
      </li>
    </ul>
    <ul class="tile-list" ng-hide='GuestMode'>
       <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">
         <div class="widget-frame add-favorites">
           <a href='apps'>
             <div class="widget-icon-container">
               <i class="fa fa-plus"></i>
             </div>
             <div class="widget-title">
               <h4>Add to home</h4>
             </div>
           </a>
        </div>
       </li>
    </ul>
  </div>
</div>
