<div class='widget-body'>
   <div class='row'>
      <div class='col-xs-6 center' ng-repeat='item in config.links'>
				<circle-button data-href='{{item.href}}' data-target='{{item.target}}' data-fa-icon='{{item.icon}}' data-disabled='false' data-title='{{item.title}}'></circle-button>
      </div>
      <!-- <div class='col-xs-6 center'>
         <div class='btn btn-primary rounded icon-button text-right'> <a href='https://docs.google.com/a/wisc.edu/' target="_blank"><i class='fa fa-files-o'></i></a> </div>
         <p>Docs</p>
      </div>
      <div class='col-xs-6 center'>
         <div class='btn btn-primary rounded icon-button text-right'> <a href='https://hangouts.google.com/' target="_blank"><i class='fa fa-comment'></i></a> </div>
         <p>Hangouts</p>
      </div>
      <div class='col-xs-6 center'>
         <div class='btn btn-primary rounded icon-button text-right'> <a href='https://plus.google.com/' target="_blank"><i class='fa fa-google-plus'></i></a> </div>
         <p>Google+</p>
      </div> -->
   </div>
</div>
<a class="btn btn-default launch-app-button" href="{{config.launchUrl}}" target="_blank">{{config.launchText}}</a>


<!-- <div>
  <div>
    <div ng-if="portlet.widgetData.length == 0" class='center'>
        <loading-gif data-object='portlet.widgetData'></loading-gif>
    </div>
    <div ng-if="config.singleElement && (!portlet.widgetData[config.arrayName] || portlet.widgetData[config.arrayName].length == 0)" class='center'>
        <span title='{{portlet.widgetData[config.display].length > 26 ? portlet.widgetData[config.display] : ""}}'>{{portlet.widgetData[config.display] | trimMiddle:26}}</span>
    </div>
    <div ng-if="portlet.widgetData && portlet.widgetData[config.arrayName] && portlet.widgetData[config.arrayName].length >= 1" style='margin-top: -10px;'>
       
    </div>
  </div>
</div> -->