<div class='widget-body lol'>
	 <div ng-show="config.links.length == 1">
		 <div class='col-xs-6 col-xs-offset-3 v-center center' ng-repeat='item in config.links'>
				<circle-button data-href='{{item.href}}' data-target='{{item.target}}' data-fa-icon='{{item.icon}}' data-disabled='false' data-title='{{item.title}}'></circle-button>
     </div>
	 </div>
	 <div ng-show="config.links.length == 2">
		 <div class='col-xs-6 v-center center' ng-repeat='item in config.links'>
				<circle-button data-href='{{item.href}}' data-target='{{item.target}}' data-fa-icon='{{item.icon}}' data-disabled='false' data-title='{{item.title}}'></circle-button>
     </div>
	 </div>
	 <div ng-show="config.links.length == 3">
		 <div ng-repeat="item in config.links">
			 <div class='col-xs-6 center' ng-class="{'col-xs-offset-3':($index==2)}">
 				<circle-button data-href='{{item.href}}' data-target='{{item.target}}' data-fa-icon='{{item.icon}}' data-disabled='false' data-title='{{item.title}}'></circle-button>
       </div>
		 </div>
	 </div>
	 <div ng-show="config.links.length == 4">
		 <div class='col-xs-6 center' ng-repeat='item in config.links'>
				<circle-button data-href='{{item.href}}' data-target='{{item.target}}' data-fa-icon='{{item.icon}}' data-disabled='false' data-title='{{item.title}}'></circle-button>
     </div>
	 </div>
	 <div ng-show="config.links.length > 4">
		 <ul class="widget-list">
			 <li ng-repeat='item in config.links | limitTo: 7' class="link-icon">
				 <i class="fa {{item.icon}}"></i><a href="{{item.href}}" target="{{item.target}}">{{item.title | truncate:24}}</a>
			 </li>
		 </ul>
	 </div>
</div>
<a class="btn btn-default launch-app-button" href="{{portlet.url}}" target="_blank">{{config.launchText}}</a>