<div class="widget-body lti-launch">
    <form method="post" id="{{portlet.fname}}_LtiRequestForm" name="{{portlet.fname}}_LtiRequestForm" action={{formAction}}
    enctype="application/x-www-form-urlencoded" target="_blank" rel="noopener noreferrer">
    <input ng-repeat='input in formInputs' type="hidden" name={{input.name}} value={{input.value}}>
    <a  tabindex="-1" class="normal-widget" href="javascript:{}" onclick="javascript:this.parentNode.submit();">
        <div class="widget-icon-container" layout="column" layout-align="center center">
        <portlet-icon></portlet-icon>
        </div>
     </a>
     <a href="javascript:{}" onclick="javascript:this.parentNode.submit();">
      <launch-button 
        ng-if='config.launchText && portlet.url'
        data-button-text="{{config.launchText}}">
      </launch-button>
    </a>
    </form>
    
</div>

