<div class="widget-option-link" layout="column" layout-align="center center">

  <!-- OPTION-LINK ICON -->
  <div class="option-link-icon">
    <a href="{{portlet.selectedUrl}}" target="_blank">
      <portlet-icon></portlet-icon>
    </a>
  </div>

  <!-- OPTION-LINK TEXT/CONTROLS -->
  <div class="option-link-controls">
    <!-- LOADING GIF IF EMPTY -->
    <div ng-if="portlet.widgetData.length == 0" layout="row" layout-align="center center">
      <loading-gif data-object='portlet.widgetData'></loading-gif>
    </div>
    <!-- IF ONE ELEMENT -->
    <div ng-if="config.singleElement && (!portlet.widgetData[config.arrayName] || portlet.widgetData[config.arrayName].length == 0)"
         layout="row" layout-align="center center">
      <span title='{{portlet.widgetData[config.display].length > 26 ? portlet.widgetData[config.display] : ""}}'>
        {{portlet.widgetData[config.display] | trimMiddle:26}}
      </span>
    </div>
    <!-- IF MORE THAN ONE ELEMENT -->
    <div ng-if="portlet.widgetData && portlet.widgetData[config.arrayName] && portlet.widgetData[config.arrayName].length >= 1">
      <md-input-container>
        <md-select ng-model="portlet.selectedUrl" class="md-accent">
          <md-option ng-if="config.singleElement" selected="selected"
                     class="md-default"
                     value="{{portlet.widgetData[config.value]}}"
                     title='{{portlet.widgetData[config.display].length > 26 ? portlet.widgetData[config.display] : ""}}'>
            {{portlet.widgetData[config.display] | trimMiddle:26}}
          </md-option>
          <md-option ng-repeat="obj in portlet.widgetData[config.arrayName]"
                     class="md-default"
                     value="{{obj[config.value]}}"
                     title="{{obj[config.display].length > 26 ? obj[config.display] : ''}}">
            {{obj[config.display] | trimMiddle:26}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>

<!-- LAUNCH BUTTON -->
<a class="launch-app-button"
   ng-href="{{portlet.selectedUrl}}"
   target="_blank">
   <span ng-if='config.launchText'>{{config.launchText}}</span>
   <span ng-if='!config.launchText'>Launch {{portlet.title}}</span>
</a>
