<div ng-controller='RSSWidgetController as RSSWidgetCtrl' style='overflow-y: hidden; max-height: 210px;'>
  <loading-gif data-object="data" data-empty="isEmpty"></loading-gif>
   <ul class='widget-list'>
      <li ng-repeat='item in data.items | filter:filterText | limitTo:config.lim'>
        <a ng-href='{{item.link}}' target='_blank'>
          <p class='bold'>{{item.title | limitTo:config.titleLim}}<span ng-if='item.title.length > config.titleLim'>...</span><span class='right' ng-if='config.showdate'>{{getPrettyDate(item.pubDate) | date:config.dateFormat}}</span></p>
        </a>
      </li>
      <li ng-if='config.showShowing && config.lim && data.items.length > config.lim' class='no-highlight'>
        <span class='center'><p class='bold'>Showing {{config.lim}} of {{data.items.length}}</p></span>
      </li>
      <li ng-if='error' class='no-highlight'>There was an issue loading the information, click see all for more details</li>
      <li ng-if='isEmpty' class='no-highlight'>No information at this time.</li>
   </ul>
</div>
<a class='btn btn-default launch-app-button ng-scope' ng-href='{{portlet.url}}'>See all</a>
