<div class="widget-body">
  <form action='{{secureURL}}' target='{{config.actionTarget}}'>
    <md-input-container class="md-block" md-no-float>
      <input type="text" name="{{config.actionParameter}}" placeholder="{{config.searchPlaceholder}}">
      <md-button type="submit" class="md-primary md-icon-button">
        <i class="fa fa-search"></i>
      </md-button>
    </md-input-container>
  </form>
   <!-- Links -->
   <div layout="row">
     <div class="search-with-links__{{config.links.length}}">
       <circle-button ng-repeat="item in config.links"
                      data-href="{{item.href}}"
                      data-target="{{item.target}}"
                      data-fa-icon="{{item.icon}}"
                      data-disabled="false"
                      data-title="{{item.title}}"
                      data-trunclen="24">
       </circle-button>
  	 </div>
   </div>
</div>
<a class="launch-app-button" href="{{portlet.url}}" target="_blank">
  <span ng-if='config.launchText'>{{config.launchText}}</span>
  <span ng-if='!config.launchText'>Launch app</span>
</a>
