<div>

	<div id="loading">
    	<loading-gif data-object='weatherData'></loading-gif>
    </div>
	
    <ul class="widget-list">
        <li ng-repeat="weather in portlet.widgetData | limitTo:2">
          <a href="{{weather.moreInformationLink}}" target='_blank'>
            <p class="bold">{{weather.location.city}}, {{weather.location.stateOrCountry}}
            </p>
            <div>
                <div class="forecast">
                    <div class='row'>
                        <div class="col-xs-3 day">
                          <p>Now</p>
                          <img ng-src="{{config.iconPrefix}}{{weather.currentWeather.imgName}}{{config.iconPostfix}}" title="{{weather.currentWeather.condition}}" alt="{{weather.currentWeather.condition}}">
                          <p>{{weather.currentWeather.temperature}}&deg; {{weather.temperatureUnit}}</p>
                        </div>
                        <div class='col-xs-3 day' ng-repeat="forecast in weather.forecast">
                            <p>{{forecast.day}}</p>
                            <img ng-src="{{config.iconPrefix}}{{forecast.imgName}}{{config.iconPostfix}}" title="{{forecast.condition}}" alt="{{forecast.condition}}">
                            <p>H: {{forecast.highTemperature}}&deg;</p>
                            <p>L: {{forecast.lowTemperature}}&deg;</p>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
    </ul>
    
    <div ng-if="weather.location == null">
		<div ng-model="noLocations" ng-init="noLocations=true">
			<i class="fa fa-exclamation-triangle" aria-label='Warning'></i>
			<div class="warning-message">Hold up! You haven't set any weather locations yet! Launch the full app to select your weather locations.</div>
			<style>
			
				.fa-exclamation-triangle{
					font-size: -webkit-xxx-large;
					padding: 20px 120px;
				}
				.warning-message{
					text-align:-webkit-center;
					padding: 9px 0px;
				}
				
			</style>
		</div>
	</div>
    
    <div ng-if="weatherData.length == 0 && noLocations==false">
	    <i class="fa fa-frown-o" aria-label='Error'></i>
        <div class="error-message"> Oops! The weather service seems to be down. Try clicking <a href="http://www.weather.com/weather/today/l/USWI0411:1:US" target="_blank" style="color: red">here</a> for local weather!</div>
        <style>
        
        	.fa-frown-o{
        		font-size:50px;
        		padding: 0px 123px;
        	}
        	
			.error-message{
				font-size:smaller;
				text-align:center;
			}
			
		</style>
	</div>
    
    <p class="credit">Weather provided by <a href="http://www.worldweatheronline.com/">World Weather Online</a></p>
</div>
<a class="btn btn-default launch-app-button" href="{{::portlet.url}}">Launch Full App</a>
