<div>
    <loading-gif data-object='weatherData'></loading-gif>
    <ul class="widget-list">
        <li ng-repeat="weather in portlet.widgetData | limitTo:2">
          <a href="{{weather.moreInformationLink}}" target='_blank'>
            <p class="bold">{{weather.location.city}}, {{weather.location.stateOrCountry}}
            </p>
            <div>
                <div class="forecast">
                    <div class='row'>
                        <div class="col-xs-3 day">
                          <p>Now</p>
                          <img ng-src="{{config.iconPrefix}}{{weather.currentWeather.imgName}}{{config.iconPostfix}}" title="{{weather.currentWeather.condition}}" alt="{{weather.currentWeather.condition}}">
                          <p>{{weather.currentWeather.temperature}}&deg; {{weather.temperatureUnit}}</p>
                        </div>
                        <div class='col-xs-3 day' ng-repeat="forecast in weather.forecast">
                            <p>{{forecast.day}}</p>
                            <img ng-src="{{config.iconPrefix}}{{forecast.imgName}}{{config.iconPostfix}}" title="{{forecast.condition}}" alt="{{forecast.condition}}">
                            <p>H: {{forecast.highTemperature}}&deg;</p>
                            <p>L: {{forecast.lowTemperature}}&deg;</p>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </li>
    </ul>
    <p class="credit">Weather provided by <a href="http://www.worldweatheronline.com/" target="_blank">World Weather Online</a></p>
</div>
<a class="btn btn-default launch-app-button" href="{{::portlet.url}}">Launch Full App</a>
