

<div class="weather-dropdown">
  <a class="weather-not-clicked" ng-show="showMetric" href=""
    ng-click="showMetric=false; changePref('F')">Change to &degF</a>
  <a class=" weather-not-clicked" ng-show="!showMetric" href=""
    ng-click="showMetric=true; changePref('C')">Change to &degC</a>
</div>

<div>
  <div
    ng-if="weatherData && weatherData.length == 0 && !loading && !error">
    <div>
      <i class="fa fa-exclamation-triangle" aria-label='Warning'></i>
      <div class="warning-message-weather-widget">Hold up! You
        haven't set any weather locations yet. Launch the full app to
        select your weather locations.</div>
    </div>
  </div>

  <div ng-if="loading" id="loading" layout="row" layout-align="center center">
    <loading-gif data-object='weatherData'></loading-gif>
  </div>

  <div ng-if="error">
    <p class='error-message-weather-widget'>
      <i class="fa fa-frown-o" aria-label="Error"></i><br />Oops! The
      weather service seems to be down. <a
        href="http://www.ssec.wisc.edu/localweather/" target="_blank" rel="noopener noreferrer">Try
        clicking here for Madison weather.</a>
    </p>
  </div>

  <ul class="widget-list">
    <li ng-repeat="weather in weatherData | limitTo:2"><a
      href="{{weather.moreInformationLink}}" target='_blank' rel='noopener noreferrer'>
        <p class="bold">{{weather.location.city}},
          {{weather.location.stateOrCountry}}</p>
        <div>
          <div class="forecast">
            <div class='row'>
              <div class="col-xs-3 day">
                <p>Now</p>
                <img
                  ng-src="{{config.iconPrefix}}{{weather.currentWeather.imgName}}{{config.iconPostfix}}"
                  title="{{weather.currentWeather.condition}}"
                  alt="{{weather.currentWeather.condition}}">
                <p ng-show="!showMetric">{{weather.currentWeather.temperature
                  | number:0}}&deg; {{weather.temperatureUnit}}</p>
                <p ng-show="showMetric">{{weather.currentWeather.temperature
                  | number:0}}&deg; C</p>


              </div>
              <div class='col-xs-3 day'
                ng-repeat="forecast in weather.forecast">
                <p>{{forecast.day}}</p>
                <img
                  ng-src="{{config.iconPrefix}}{{forecast.imgName}}{{config.iconPostfix}}"
                  title="{{forecast.condition}}"
                  alt="{{forecast.condition}}">
                <p>H: {{forecast.highTemperature | number: 0}}&deg;</p>
                <p>L: {{forecast.lowTemperature | number: 0}}&deg;</p>
              </div>
            </div>
          </div>
        </div>
    </a></li>
  </ul>


  <p class="credit">
    Powered by <a href="http://www.worldweatheronline.com/"
      target='_blank' rel='noopener noreferrer'>World Weather Online</a>
  </p>
</div>
<a class="btn btn-default launch-app-button" href="{{::portlet.url}}"
  aria-label="go to Weather">Launch full app</a>
