<md-card class="widget-frame" id="portlet-id-{{portlet.nodeId}}">

  <!-- HEADER -->
  <md-card-header class="widget-header">
    <!-- Widget Chrome -->
    <div class='widget-info'>
      <i title="Info" class="fa fa-info-circle"
      tooltip="{{portlet.description}}"
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      tooltip-popup-delay="200"></i>
    </div>
    <div class='widget-remove' ng-hide='GuestMode || cantRemove'>
      <i title="Remove" class="fa fa-times portlet-options" ng-click="widgetCtrl.removePortlet(portlet.nodeId, portlet.title)"><a aria-label="Remove this app" href="#"></a></i>
    </div>

    <md-card-header-text>
      <span class='md-title' style='text-align: center;' id="appTitle_portlet.title-{{portlet.nodeId}}" aria-labelledby="appTitle_portlet.title-{{portlet.nodeId}}" tabindex="0">{{portlet.title }}</span>
    </md-card-header-text>
  </md-card-header>

  <!-- BODY -->
  <md-card-content class="widget-content">
    <sub class="sr-only" id="goToApps-{{portlet.nodeId}}">go to</sub>
    <!-- For widgets, show fancy markup! -->
    <div ng-if="'WIDGET' === widgetCtrl.portletType(portlet)">
      <div class="widget-content">
         <div ng-if="'option-link' === portlet.widgetType">
           <div class="widget-icon-container">
             <portlet-icon></portlet-icon>
           </div>
         </div>
         <div ng-bind-html="portlet.widgetContent"></div>
      </div>
      <a class="btn btn-default launch-app-button" href="{{portlet.url}}" target="{{portlet.target}}">Launch full app</a>
    </div>

    <div ng-switch="widgetCtrl.portletType(portlet)" class="widget-type-container">

      <div ng-switch-when="OPTION_LINK">
        <option-link app="portlet" config="portlet.widgetConfig"></option-link>
      </div>

      <div ng-switch-when="WEATHER">
        <weather app="portlet" config="portlet.widgetConfig"></weather>
      </div>

      <div ng-switch-when="RSS">
        <rss app="portlet" config="portlet.widgetConfig"></rss>
      </div>

      <div ng-switch-when="LOL">
        <lol app="portlet" config="portlet.widgetConfig"></lol>
      </div>

      <div ng-switch-when="SWL">
        <swl app="portlet" config="portlet.widgetConfig"></swl>
      </div>

      <!-- For pithy content, display the pithy content -->
      <div ng-switch-when="PITHY">
        <div class="portlet-content">
           <div ng-bind-html="portlet.pithyStaticContent"></div>
        </div>
        <a class="launch-app-button" href="{{portlet.url}}" target="{{portlet.target}}">Launch full app</a>
      </div>

      <div ng-switch-when="GENERIC" class="generic-widget">
        <div ng-controller="GenericWidgetController as genericWidgetCtrl">
            <div ng-if="loading" id="loading">
                <loading-gif data-object='content' data-empty='isEmpty'></loading-gif>
            </div>
            <content-item ng-if="!loading"></content-item>
        </div>
      </div>

      <div ng-switch-when="WIDGET_CREATOR">
        <div>
            <div ng-if="loading" id="loading">
                <loading-gif data-object='content' data-empty='isEmpty'></loading-gif>
            </div>
            <content-item ng-if="!loading"></content-item>
        </div>
      </div>

      <!-- For basic apps (not a widget, not simple content, no pithy content), show only an icon -->
      <a tabindex="-1" ng-switch-when="NORMAL" ng-href="{{widgetCtrl.renderURL(portlet)}}" target="{{portlet.target}}" class="normal-widget">
        <div class="widget-icon-container" layout="column" layout-align="center center">
          <portlet-icon></portlet-icon>
        </div>
        <button aria-labelledby="goToApps-{{portlet.nodeId}} appTitle_portlet.title-{{portlet.nodeId}}" class="launch-app-button">
          <span ng-if='portlet.widgetConfig.launchText'>{{portlet.widgetConfig.launchText}}</span>
          <span ng-if='!portlet.widgetConfig.launchText'>Launch full app</span>
        </button>
      </a>

      <!-- For simple content portlets, show only an icon -->
      <a tabindex="-1" ng-switch-when="SIMPLE" ng-click="widgetCtrl.maxStaticPortlet(portlet)" class="normal-widget">
        <div class="widget-icon-container" layout="column" layout-align="center center">
          <portlet-icon></portlet-icon>
        </div>
        <button aria-labelledby="goToApps-{{portlet.nodeId}} appTitle_portlet.title-{{portlet.nodeId}}" class="launch-app-button">
          <span ng-if='portlet.widgetConfig.launchText'>{{portlet.widgetConfig.launchText}}</span>
          <span ng-if='!portlet.widgetConfig.launchText'>Launch full app</span>
        </button>
      </a>

    </div>
  </md-card-content>

</md-card>
