<md-card class="widget-frame" id="portlet-id-{{portlet.nodeId}}" aria-label="{{ portlet.title }} widget">

	<!-- MAINTENANCE MODE OVERLAY -->
	<div class="overlay__maintenance-mode" ng-if="portlet.lifecycleState === 'MAINTENANCE'">
		<div class="maintenance-content">
			<p>
				<md-icon class="md-warn">warning</md-icon>
			</p>
			<p>This app is undergoing maintenance and is temporarily unavailable.</p>
		</div>
	</div>

  <!-- HEADER -->
  <md-card-header class="widget-header">
    <!-- Widget Chrome -->
    <md-button class="widget-action widget-info md-icon-button" aria-label="Description: {{ portlet.description }}" role="tooltip" ng-hide="portlet.lifecycleState === 'MAINTENANCE'">
      <md-tooltip md-direction="top" class="widget-action-tooltip">
        {{ portlet.description }}
      </md-tooltip>
      <md-icon>info</md-icon>
    </md-button>
    <md-button class="widget-action widget-remove md-icon-button"
               aria-label="remove {{ portlet.title }} widget from your home screen"
               ng-click="widgetCtrl.removePortlet(portlet.nodeId, portlet.title)"
               ng-hide="GuestMode || cantRemove || portlet.lifecycleState === 'MAINTENANCE'">
      <md-icon>close</md-icon>
    </md-button>

    <md-card-header-text>
      <span class="md-title" style="text-align: center;" aria-label="{{ portlet.title }}" tabindex="0">
	      {{ portlet.title }}
      </span>
    </md-card-header-text>
  </md-card-header>

  <!-- BODY -->
  <md-card-content class="widget-content">
    <sub class="sr-only" id="goToApps-{{portlet.nodeId}}">go to</sub>

    <div ng-switch="widgetCtrl.portletType(portlet)" class="widget-type-container">

      <div ng-switch-when="OPTION_LINK">
        <option-link app="portlet" config="portlet.widgetConfig"></option-link>
      </div>

      <div ng-switch-when="WEATHER">
        <weather app="portlet" config="portlet.widgetConfig"></weather>
      </div>

      <div ng-switch-when="RSS">
        <rss app="portlet" config="portlet.widgetConfig"></rss>
      </div>

      <div ng-switch-when="LOL">
        <lol app="portlet" config="portlet.widgetConfig"></lol>
      </div>

      <div ng-switch-when="SWL">
        <swl app="portlet" config="portlet.widgetConfig"></swl>
      </div>

      <div ng-switch-when="LTI_LAUNCH">
        <lti-launch app="portlet" config="portlet.widgetConfig"></lti-launch>
      </div>

      <div ng-switch-when="CUSTOM" class="custom-widget">
        <div ng-controller="CustomWidgetController as customWidgetCtrl">
          <div ng-if="loading" layout="row" layout-align="center center">
            <loading-gif data-object='content' data-empty='isEmpty'></loading-gif>
          </div>
          <content-item ng-if="!loading"></content-item>
        </div>
      </div>

      <div ng-switch-when="WIDGET_CREATOR">
        <div>
            <div ng-if="loading" layout="row" layout-align="center center">
                <loading-gif data-object='content' data-empty='isEmpty'></loading-gif>
            </div>
            <content-item ng-if="!loading"></content-item>
        </div>
      </div>

      <div ng-switch-when="BASIC">
        <a tabindex="-1" ng-href="{{ widgetCtrl.renderURL(portlet) }}" target="{{portlet.target}}" class="basic-widget">
          <div class="widget-icon-container" layout="column" layout-align="center center">
            <portlet-icon></portlet-icon>
          </div>
        </a>
        <launch-button data-href="{{ widgetCtrl.renderURL(portlet) }}"
                       data-target="_blank"
                       data-rel="noopener noreferrer"
                       data-button-text="{{ portlet.widgetConfig.launchText ? portlet.widgetConfig.launchText : 'Launch full app' }}"
                       data-aria-label="{{ portlet.widgetConfig.launchText ? portlet.widgetConfig.launchText : 'Launch ' + portlet.title }}">
        </launch-button>
      </div>

      <!-- For simple content portlets, show only an icon (RARELY USED) -->
      <div ng-switch-when="SIMPLE">
        <a tabindex="-1" ng-click="widgetCtrl.maxStaticPortlet(portlet)" class="basic-widget">
          <div class="widget-icon-container" layout="column" layout-align="center center">
            <portlet-icon></portlet-icon>
          </div>
        </a>
        <button aria-label="{{ portlet.widgetConfig.launchText ? portlet.widgetConfig.launchText : 'Launch ' + portlet.title }}" class="launch-app-button"  ng-click="widgetCtrl.maxStaticPortlet(portlet)">
          <span ng-if='portlet.widgetConfig.launchText'>{{portlet.widgetConfig.launchText}}</span>
          <span ng-if='!portlet.widgetConfig.launchText'>Launch full app</span>
        </button>
      </div>

    </div>
  </md-card-content>

</md-card>
