<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="Browse {{ NAMES.title }}">
  <div class="marketplace-body" ng-controller="MarketplaceController as marketplaceCtrl">
    <md-card>
      <div class="wrapper__page-title" layout="row" layout-align="space-between center">
        <h1 class="md-display-1">
          <md-icon>widgets</md-icon>
          Browse {{ NAMES.title }}
        </h1>
      </div>
      <div class="mp-search-container">
        <md-input-container md-no-float class="md-block browse-input">
          <md-icon>search</md-icon>
          <input type="text"
                 class="mp-search"
                 placeholder="Start typing to filter results"
                 ng-model="searchText"
                 ng-change="searchResultLimit=20"
                 select-on-page-load
                 aria-label="search bar: start typing to filter search results">
        </md-input-container>
      </div>
    </md-card>

    <md-card>
      <loading-gif data-object="portlets" layout="row" layout-align="center center"></loading-gif>

      <md-card-title ng-show="portlets.length">
        <md-card-title-text>
          <span ng-show="portlets.length > 0 && !searchTerm">{{portlets.length}} entries are available to you</span>
          <span ng-show="portlets.length > 0 && searchTerm">{{(portlets | filter:searchTermFilter | showApplicable:showAll ).length}} entries matching &quot;{{searchTerm}}&quot; are available to you</span>
        </md-card-title-text>
      </md-card-title>

      <div class="portlet-container"
           ng-repeat="portlet in portlets | filter:searchTermFilter | showApplicable:showAll |  orderBy:sortParameter | limitTo:searchResultLimit"
           ng-class="{portlet_hover: hover}"
           ng-mouseenter="hover = true"
           ng-mouseleave="hover = false"
           ng-click="showDetails = !showDetails">
        <marketplace-entry></marketplace-entry>
      </div>

      <marketplace-load-more
        ng-show="portlets.length > 0 && (portlets | filter:searchTermFilter | showApplicable:showAll ).length > searchResultLimit"></marketplace-load-more>
      <marketplace-no-results
        ng-show="portlets.length > 0 && (portlets | filter:searchTermFilter | showApplicable:showAll ).length == 0"></marketplace-no-results>
    </md-card>
  </div>
</frame-page>
