<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<frame-page app-title="Browse {{NAMES.title}}" app-icon="home" app-show-add-to-home="false">
  <div class="marketplace-body" ng-controller="MarketplaceController as marketplaceCtrl">
    <div class="mp-header">
      <md-input-container md-no-float class="md-block browse-input">
        <md-icon>search</md-icon>
        <input type="text"
               class="mp-search"
               placeholder="Start typing to filter results"
               ng-model="searchText"
               ng-change="searchResultLimit=20"
               select-on-page-load
               aria-label="search bar: start typing to filter search results">
      </md-input-container>
    </div>

    <div class="mp-tabs-container">
      <div class="mp-prev-button" ng-click="slideTabs('left')">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="mp-next-button" ng-click="slideTabs('right')">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="mp-tabs-canvas">
        <ul class="mp-tabs" ng-class="{true:'slide-right'}[tabsPosition === 'end']">
          <li class="mp-tab md-ink-ripple" ng-click="selectFilter('popular','')"
              ng-class="{true:'active'}[selectedFilter === 'popular']"
              ng-style="selectedFilter === 'popular' && {color: primaryColorRgb}">
            <span aria-label="Sort by popularity">Most Popular</span>
            <div class="mp-tabs-slide" ng-style="{background: primaryColorRgb}"></div>
          </li>
          <li class="mp-tab md-ink-ripple" ng-click="selectFilter('az','')"
              ng-class="{true: 'active'}[selectedFilter === 'az']"
              ng-style="selectedFilter === 'az' && {color: primaryColorRgb}">
            <span aria-label="Sort by alphabetical order">A-Z</span>
            <div class="mp-tabs-slide" ng-style="{background: primaryColorRgb}"></div>
          </li>
        </ul>
      </div>
    </div>

    <loading-gif data-object="portlets" layout="row" layout-align="center center"></loading-gif>

    <div class="portlet-container"
         ng-repeat="portlet in portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow | orderBy:sortParameter | limitTo:searchResultLimit"
         ng-class="{portlet_hover: hover}"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false"
         ng-click="showDetails = !showDetails">
      <marketplace-entry></marketplace-entry>
    </div>

    <marketplace-load-more
      ng-show="portlets.length > 0 && (portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length > searchResultLimit"></marketplace-load-more>
    <marketplace-no-results
      ng-show="portlets.length > 0 && (portlets | filter:searchTermFilter | showApplicable:showAll | showCategory:categoryToShow).length == 0"></marketplace-no-results>

  </div>
</frame-page>
