<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<md-dialog style='background: #fff;'>
  <md-toolbar class='md-primary'>
    <div class="md-toolbar-tools">
      <h2>Rate {{::portlet.title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <i class='fa fa-times' aria-label="Close dialog"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div ng-if='loading' class="md-dialog-content">
      <loading-gif></loading-gif>
    </div>
    <div class="md-dialog-content" ng-if='!loading'>
      <div tabindex="0" class="help-block" ng-if="rating.previouslyRated">
          You have already rated {{::portlet.title}} as a {{rating.rating}}. You may update your rating if you wish.
      </div>
      <div  tabindex="0" class="help-block" ng-if="!rating.previouslyRated">
          You have not yet rated {{::portlet.title}}. Share a rating if you wish.
      </div>
      <div>
        <md-input-container>
          <label>Rating</label>
          <md-select ng-model="rating.rating" placeholder="Select a rating (required)" required>
            <md-option ng-value="1">1 (lowest)</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3</md-option>
            <md-option ng-value="4">4</md-option>
            <md-option ng-value="5">5 (highest)</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div>
        <md-input-container class="md-block">
          <label>Tell us more (optional)</label>
          <textarea aria-label="Tell us more (optional) text edited box" md-maxlength="160" rows="5" md-select-on-focus ng-model="rating.review"></textarea>
        </md-input-container>
      </div>
      <div ng-if='error' class='md-warn'>{{error}}</div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
       <md-button md-autofocus class="md-accent" ng-click="cancel()">Close</md-button>
       <md-button md-autofocus class="md-primary" ng-click="ok()" ng-disabled="!rating.rating">Save and Close</md-button>
  </md-dialog-actions>
</md-dialog>
