<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!-- HOME-WIDGET-VIEW -->
<frame-page app-title="Home">
  <div role="main" class="col-xs-12 home__expanded" ng-controller="WidgetController as widgetCtrl">
    <!-- HOME CONTROLS -->
    <home-controls></home-controls>
    <!-- Loading -->
    <loading-gif data-object="layout" data-empty="layoutEmpty"></loading-gif>
    <!-- Widget View -->
    <ul dnd-list="layout"
        dnd-horizontal-list="true"
        class="layout-list">
      <example-widgets ng-if="$storage.exampleWidgets"></example-widgets>
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding widget-container"
          id="node-{{ widget.nodeId }}"
          ng-repeat="widget in layout | filter:filterText"
          ng-keydown="moveWithKeyboard(widget, $event)"
          tabindex="0"
          dnd-draggable="widget"
          dnd-effect-allowed="move"
          dnd-moved="layout.splice($index, 1)"
          dnd-dragend="logEvent(widget.fname, $index, 'dragEnd')">
        <widget fname="{{ widget.fname }}">
          <remove-button></remove-button>
        </widget>
      </li>
    </ul>
    <ul class="tile-list" ng-hide="GuestMode">
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding list-container">
        <div class="widget-frame add-favorites">
          <a href="apps">
            <div class="widget-icon-container">
              <i class="fa fa-plus"></i>
            </div>
            <div class="widget-title">
              <h4>Add to home</h4>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</frame-page>
