<div class="row">
  <h1 class="page-h1">All Notifications</h1>
</div>
<ul class="notifications-list" ng-controller="NotificationController as notificationCtrl">
  <li class="notification-item" ng-repeat="notification in notificationCtrl.notifications_full"
      ng-class="notificationCtrl.getClass($index, notificationCtrl.notifications)"
      ng-click="notificationCtrl.markRead($index, notificationCtrl.notifications)">

    {{ notification.title }} ...
  </li>
</ul>
<div class="row">
  <h1 class="page-h1">Archived</h1>
</div>
<ul class="notifications-list" ng-controller="NotificationController as notificationCtrl">
  <li class="notification-item read" ng-repeat="notification in notificationCtrl.notifications_full"
      ng-class="notificationCtrl.getClass($index, notificationCtrl.notifications)"
      ng-click="notificationCtrl.markRead($index, notificationCtrl.notifications)">

    {{ notification.title }} ...
  </li>
</ul>
