<form ng-submit="submit()">
  <div class="input-group portlet-search-bar">
    <input type="search" class="main-search"
            placeholder="Search {{NAMES.title}}"
            name="initialFilter"
            ng-model="initialFilter"
            aria-label="Search bar enter the app you are looking for"
            focus-me="showSearchFocus"
            ng-show="$storage.typeaheadSearch"
            typeahead="title as match.title for match in filterMatches | limitTo:10"
            typeahead-on-select="onSelect($item, $model, $label)"
            typeahead-loading="portletListLoading"
            typeahead-min-length="2"
            typeahead-focus-first='false'
            autocomplete="off" >

      <input type="search" class="main-search"
            placeholder="Search {{NAMES.title}}"
            name="initialFilter"
            ng-model="initialFilter"
            aria-label="Search bar enter the app you are looking for"
            focus-me="showSearchFocus"
            ng-hide="$storage.typeaheadSearch"
            autocomplete="off" />


    <span class="input-group-btn">
      <button aria-label="Search button" class="btn btn-default btn-search">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
