<!-- COMPACT MODE -->
<div class="portlet-frame">
  <home-header></home-header>
  <div role="main" class="no-padding portlet-body" ng-controller="LayoutController as layoutCtrl">
    <div ng-show="$storage.showFilterOption" style="margin: 15px auto; max-width: 1200px;">
      <div style="margin: 0; padding: 5px;">
        <input ng-model="filterText" placeholder="Filter items on your home screen" class="form-control">
      </div>
    </div>
    <div ng-if="layout.length == 0" layout="row" layout-align="center center">
      <loading-gif data-object="layout" data-empty="layoutEmpty"></loading-gif>
    </div>
    <!-- List View -->
    <ul ui-sortable="sortableOptions" ng-model="layout" class="tile-list">
       <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 no-padding list-container" ng-repeat="portlet in layout | filter:filterText">
         <compact-widget fname="{{portlet.fname}}"></compact-widget>
       </li>
    </ul>
    <ul class="tile-list" ng-hide="GuestMode">
       <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2 no-padding list-container">
         <marketplace-light></marketplace-light>
       </li>
    </ul>
  </div>
</div>
