/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
---
---

@import "{{ site.theme }}";

.wrapper {
  width: auto;
}

header {
  left: 0;
  background: #444;
  padding: 24px 24px 14px 70px;
  h1 {
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  p {
    color: #e5e5e5;
    margin-bottom: 10px;
    &.view {
      margin-bottom: 0;
    }
  }
  a.button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background: #39c;
    color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 8px;
    margin: 6px 8px 6px 0;
    white-space: nowrap;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    &:hover {
      background: #069;
    }
    img {
      vertical-align: middle;
      margin: 0 4px 2px 0;
    }
  }
}

section {
  border-bottom: none;
  width: auto;
  h2 {
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
  }
  h4 {
    margin-bottom: 8px;
    font-weight: 300;
    border-bottom: #e5e5e5 1px solid;
    padding-bottom: 4px;
  }
}

aside {
  margin-bottom: 36px;
  h5 {
    font-size: 14px;
    font-weight: 300;
    border-bottom: #e5e5e5 1px solid;
    padding-bottom: 4px;
  }
  ul {
    padding-left: 20px;
    -webkit-padding-start: 20px;
  }
}

footer {
  top: 270px;
  bottom: auto;
  overflow-y: scroll;
  p.owner {
    margin: 0;
  }
}

@media (min-width: 960px) {
  section {
    float: left;
    margin-left: 360px;
    border-bottom: #e5e5e5 1px solid;
  }
  footer {
    left: 0;
    padding-left: 70px;
  }
}

@media (max-width: 960px) {
  body {
    margin: 0;
    padding: 40px 40px 40px 0;
    header, section, footer {
      padding-left: 40px;
    }
  }
}
