<footer class="portal-footer-legal" role="contentinfo" ng-controller="SessionCheckController as sessionCheckCtrl">
	<div class="portal-power">
		<div id="portalPageFooterLinks">
			<span>© 2014, Board of Regents of the <a href="http://www.wisconsin.edu/">University of Wisconsin System</a></span>
			<br>
			<span><a href="/portal/p/feedback"><span>Feedback</span></a><span> - </span><span>{{sessionCheckCtrl.user.serverName}}</span><span> - </span><span>{{sessionCheckCtrl.user.version}}</span></span>
			<br>
			<span>Session Key: </span><span>{{sessionCheckCtrl.user.sessionKey}}</span>
			<br>
		</div>
	</div>
</footer>
