

<div class="row card" ng-controller="MainController as mainCtrl">
  <div class="card-header">
    <img class="header-image" src="img/square.jpg" alt="UW Campus cover image">
    <div class="card-header-text">
      <h1>MyUW Home</h1>
      <!-- <p>This is the Angular version of MyUW. Enjoy!</p> -->
    </div>
    <div ng-controller="NewStuffController as newStuffCtrl">
      <div ng-repeat="stuff in newStuffArray">
      <div ng-if='newStuffCtrl.show(stuff)'  class="header-opaque">
      <div><p class="new">New</p></div>
      <div><h3>{{::stuff.title}}</h3></div>
      <div class="description"><p>{{::stuff.shortDesc}}<a ng-if="stuff.link !== null" href="{{::stuff.link}}">Find out more.</a></p></div>
      <!--<div class="remove"><i class="fa fa-remove" ng-click="mainCtrl.showNewStuff = false"></i></div>-->
      </div>
      </div>
      <!--<p class="news-section-title">News</p>
      <h3 class="news-article-title">Initial Impression</h3>
      <p class="news-article-description">First-year students take to the turf for W Project. <a href="https://www.youtube.com/watch?v=-I_Ia6wNwkA&feature=youtu.be">Read more <i class="fa fa-angle-right"></i></a></p>-->
    </div>
  </div>
  <!--
  <div class="col-xs-12 notification-section">
    <h3 class="home-section-header">Notifications</h3>
    <notifications></notifications>
  </div>
  -->
  <div class="col-xs-12 no-padding portlet-section">
    <h3 class="home-section-header portlet-section-header">
        Your Favorites <span class='small-font-plus'>
        <a href='#/apps'
           popover="Browse for more apps"
           popover-trigger="mouseenter"
           popover-placement="top"
           popover-popup-delay="500">
            <i class='fa fa-plus'></i>
        </a>
        </span>
    </h3>
    <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
    <ul ui-sortable="sortableOptions" ng-model="layout" id="cards-sortable">
       <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4 no-padding portlet-container-home" ng-repeat="portlet in layout">
          <default-card></default-card>
          <!-- <static-content-card ng-if="portlet.staticContent != null"></static-content-card> -->
        </li>
    </ul>
    <marketplace-light class="col-xs-12 col-sm-6 col-md-6 col-lg-4 no-padding" ></marketplace-light>
  </div>
</div>
