

<div class="row card" ng-controller="MainController as mainCtrl">
  <div class="card-header">
    <img class="header-image" src="img/square.jpg" alt="UW Campus cover image">
    <div class="card-header-text">
      <h1>MyUW Home</h1>
      <!-- <p>This is the Angular version of MyUW. Enjoy!</p> -->
    </div>
    <!-- <div class="header-opaque">
      <p class="news-section-title">News</p>
      <h3 class="news-article-title">Initial Impression</h3>
      <p class="news-article-description">First-year students take to the turf for W Project. <a href="https://www.youtube.com/watch?v=-I_Ia6wNwkA&feature=youtu.be">Read more <i class="fa fa-angle-right"></i></a></p>
    </div> -->
  </div>
  <!--
  <div class="col-xs-12 notification-section">
    <h3 class="home-section-header">Notifications</h3>
    <notifications></notifications>
  </div>
  -->
  <div class="col-xs-12 portlet-section">
    <h3 class="home-section-header portlet-section-header">Your Favorites</h3>
    <div data-loading class='loading-gif'><img src="img/ajax-loader.gif" alt="Loading content, please wait"></div>
    <div ui-sortable="sortableOptions" ng-model="layout">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 portlet-container" ng-repeat="portlet in layout">
          <default-card></default-card>
          <!-- <static-content-card ng-if="portlet.staticContent != null"></static-content-card> -->
        </div>
    </div>
    <marketplace-light class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ></marketplace-light>
  </div>
</div>
