<div class="row card" ng-controller="SettingsController as settingCtrl">
  <div class="card-header">
    <img class="header-image" src="img/square.jpg" alt="UW Campus cover image">
    <div class="card-header-text">
      <h1>Beta Settings</h1>
      <p>Opting in/out of beta features</p> 
    </div>
  </div>
  <div class="col-xs-12 no-padding portlet-section">
    <h3 class="home-section-header portlet-section-header">Your Options</h3>
    <ul class='fluid-container row' style='padding-top: 1em;'>
       <li class="col-xs-6 portlet-container-home beta-card-style">
           <h4>
               <span class="btn-group">
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-danger' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="true">On</label>
                   <label class="btn" ng-class="{'btn-success' : $storage.sidebarQuicklinks, 'btn-danger' : !$storage.sidebarQuicklinks, }" ng-model="$storage.sidebarQuicklinks" btn-radio="false">Off</label>
               </span>
               Sidebar Quicklinks &nbsp;<small>Shows quicklinks to various campus sites in side bar</small> 
           </h4>
           
       </li>
       <li class="col-xs-6 no-padding portlet-container-home  beta-card-style">
          <h4>Home Background image &nbsp;<small>Pick a different background image for MyUW Home</small></h4>
          <div style='text-align: center;'>
            <div style='padding: 1em;'>
                <img ng-src="{{$storage.homeImg}}" height='100px'>
            </div>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/terrace.jpg'">Chairs at the Union Terrace</label>
            <label class="btn btn-primary" ng-model="$storage.homeImg" btn-radio="'img/square.jpg'">333 East Campus</label>
            
          </div>
       </li>
    </ul>
  </div>
</div>