<nav id="portlet_u1311l1n19" class="side-bar-menu">
  <ul class="list-group sidebar">
    <li class="list-group-item"><a href="#/" ng-click="navbarCollapsed = true"><span class="fa fa-home fa-fw"></span> Home</a></li>
    <li class="list-group-item"><a href='#/apps' ng-click="navbarCollapsed = true"><span class="fa fa-cog fa-fw"></span> Apps</a></li>
    <!-- <li class="list-group-item"><a href='#' ng-click="navbarCollapsed = true"><span class="fa fa-user fa-fw"></span> My Profile</a></li>
    <li class="list-group-item"><a href='#' ng-click="navbarCollapsed = true"><span class="fa fa-eye fa-fw"></span> Settings</a></li>-->
    <li class="list-group-item"><a href='/portal/p/myuw-help' ng-click="navbarCollapsed = true"><span class="fa fa-question fa-fw"></span> Help</a></li> 
    <li class="list-group-item"><a href="/portal/Logout" ng-click="navbarCollapsed = true"><span class="fa fa-sign-out fa-fw"></span> Log out</a></li>
 </ul>
</nav>
