<footer class="portal-footer-legal" role="contentinfo" ng-controller="SessionCheckController as sessionCheckCtrl">
	<div class="portal-power">
		<div id="portalPageFooterLinks">
			<div>
				<span>© 2015, Board of Regents of the <a href="http://www.wisconsin.edu/" target="_blank">University of Wisconsin System</a></span>
			</div>
			<div class='underline'>
				<a ng-href='{{sessionCheckCtrl.feedbackURL}}'><span>Feedback</span></a>
				<span>&nbsp;</span>
				<span ng-if='sessionCheckCtrl.whatsNewURL'><a ng-href='{{sessionCheckCtrl.whatsNewURL}}' target="_blank">What's New</a></span>
				<span ng-if='sessionCheckCtrl.whatsNewURL'>&nbsp;</span>
				<span><a ng-if='sessionCheckCtrl.back2ClassicURL' ng-href='{{sessionCheckCtrl.back2ClassicURL}}'>MyUW Classic</a></span>
			</div>
			<div>
				<span>{{sessionCheckCtrl.user.version}}</span><span> - </span><span>{{sessionCheckCtrl.user.serverName}}</span><span> - </span><span>{{sessionCheckCtrl.user.sessionKey}}</span></span>
			</div>
		</div>
	</div>
</footer>
