<div class='beta-announcement'>
	<div class="container-fluid row">
	    <div class='col-xs-5 col-sm-6  col-md-7 no-padding text'><strong>You're looking at the new MyUW.</strong><br/>
	          <span class="hidden-xs">It's a work in progress. 
	          	<a onClick="_gaq.push(['_trackEvent', 'Beta', 'Read About Change', 'Read About Change']);" 
	          	   href="http://redesign.my.wisc.edu/" 
	          	   target="_blank">
	          		Read about what's changing
	          	</a>.
	          </span>
	    </div>
	    <div class='col-xs-7 col-sm-6 col-md-5 no-padding beta-buttons-div'>
	      <span class="beta-buttons">
		      <a class='btn btn-default feedback-button' href="/portal/p/feedback"
		         onClick="_gaq.push(['_trackEvent', 'Beta', 'Feedback', 'Feedback']);" >
		      	<span class='hidden-xs'>
		      		Tell us what you think
		      	</span>
		      	<span class='visible-xs'>
		      		Feedback
		      	</span>
		      </a>
		      <a class='btn btn-default' href="/portal/Login?profile=default" 
		         onClick="_gaq.push(['_trackEvent', 'Beta', 'Back to classic', 'Back to classic']);" >
		         Back to classic <span class="hidden-xs hidden-sm">MyUW</span>
		     </a>
	  	  </span>
	    </div>

	</div>
</div>
