<div>
  <nav class="side-bar-nav">
    <div class="hide-sidebar-div">
      <span class="fa fa-arrow-left hide-sidebar" ng-click="$storage.showSidebar = false" popover="Minimize sidebar" popover-placement="left" popover-trigger="mouseenter" popover-popup-delay="600"></span>
    </div>
    <div class="profile-pic">
      <img src="{{$storage.profileImg}}" ng-if="$storage.sidebarShowProfile">
      <username></username>
    </div>
    <hr>
    <ul class="list-group sidebar">
      <li class="list-group-item"><a href="#/" ng-click="navbarCollapsed = true"><span class="fa fa-home fa-fw"></span> Home</a></li>
      <li class="list-group-item"><a href='/web/#/apps' ng-click="navbarCollapsed = true"><span class="fa fa-star fa-fw"></span> Apps</a></li>
      <!-- <li class="list-group-item"><a href='#' ng-click="navbarCollapsed = true"><span class="fa fa-user fa-fw"></span> My Profile</a></li>-->
      <li class="list-group-item"><a href='/web/#/settings' ng-if="$storage.sidebarShowSettings === true" ng-click="navbarCollapsed = true"><span class="fa fa-cog fa-fw"></span> Beta Settings</a></li>
      <li class="list-group-item"><a href='/portal/p/myuw-help' ng-click="navbarCollapsed = true"><span class="fa fa-question fa-fw"></span> Help</a></li> 
      <li class="list-group-item"><a href="/portal/Logout" ng-click="navbarCollapsed = true"><span class="fa fa-sign-out fa-fw"></span> Log out</a></li>
      <div class="quicklinks" ng-if="$storage.sidebarQuicklinks">
        <p class="section-divider">Quicklinks</p>
        <li class="list-group-item"><a href="/portal/p/student-center/max/action.uP?pP_action=loginAction" target='_blank' ng-click="navbarCollapsed = true">Student Center</a></li>
        <li class="list-group-item"><a href="https://uwmad.courses.wisconsin.edu/Shibboleth.sso/Login?target=https://uwmad.courses.wisconsin.edu/d2l/shibbolethSSO/deepLinkLogin.d2l" target='_blank' ng-click="navbarCollapsed = true">Learn@UW</a></li>
        <li class="list-group-item"><a href="https://uwmadison.box.com/" target='_blank' ng-click="navbarCollapsed = true">Box</a></li>
      </div>
   </ul>
  </nav>
</div>