<div>
  <nav class="side-bar-nav">
    <div class="hide-sidebar-div">
      <span class="fa fa-arrow-left hide-sidebar" ng-click="$storage.showSidebar = false" popover="Minimize sidebar" popover-placement="left" popover-trigger="mouseenter" popover-popup-delay="600" popover-append-to-body="true"></span>
    </div>
    <div class="profile-pic">
      <img ng-src="{{$storage.profileImg}}" ng-if="$storage.sidebarShowProfile && !$storage.useGravatar">
      <img gravatar-src="'{{$storage.gravatarEmail}}'" gravatar-size="100" ng-if="$storage.sidebarShowProfile && $storage.useGravatar">
      <username></username>
    </div>
    <hr>
    <div ng-controller="SidebarController as sidebarCtrl">
        <ul class="list-group sidebar-list">
          <li class="list-group-item" ng-repeat="item in sidebar" ng-if="sidebarCtrl.canSee(item.displayFlag)">
            <a href="{{item.hyperlink}}" target="{{item.target}}" ng-click="headerCtrl.navbarCollapsed = true">
              <span class="fa {{item.faIcon}} fa-fw"></span> {{item.title}}
            </a>
          </li>
       </ul>
   </div>
   <ul class="list-group sidebar-list" >
    <div class="quicklinks" ng-if="$storage.sidebarQuicklinks">
        <p class="section-divider">Quicklinks</p>
        <li class="list-group-item"><a href="/portal/p/student-center/max/action.uP?pP_action=loginAction" target='_blank' ng-click="navbarCollapsed = true">Student Center</a></li>
        <li class="list-group-item"><a href="https://uwmad.courses.wisconsin.edu/Shibboleth.sso/Login?target=https://uwmad.courses.wisconsin.edu/d2l/shibbolethSSO/deepLinkLogin.d2l" target='_blank' ng-click="navbarCollapsed = true">Learn@UW</a></li>
        <li class="list-group-item"><a href="https://uwmadison.box.com/" target='_blank' ng-click="navbarCollapsed = true">Box</a></li>
      </div>
   </ul>
  </nav></div>