<div class="row portlet-frame static-content"  ng-controller="StaticContentController as staticContentCtrl">
  <script type="text/ng-template" id="static-content-options.html">
    <div ng-controller="StaticContentController as staticContentCtrl">
      <ul>
        <li role="presentation">
            <a ng-click="openRating('sm',portlet.fname, portlet.title)" href='javascript:;'><span>Rate this App</span></a>
        </li>
      </ul>
    </div>
  </script>

  <app-header-two-way-bind
  app-title="portlet.title"
  app-icon="portlet.faIcon"
  app-option-template="'static-content-options.html'"
  app-fname='portlet.fname'
  app-action-link-text="'Add to home'"
  app-add-to-home='true'></app-header-two-way-bind>

  <div role="main" class="white-page portlet-body">
    <loading-gif data-object='loading'></loading-gif>
	  <div ng-bind-html="::portlet.staticContent" class="up-portlet-content-wrapper" id="content-{{::portlet.nodeId}}">
	  </div>
  </div>
  <rating-modal-template></rating-modal-template>
</div>
