<div class="row portlet-frame static-content"  ng-controller="StaticContentController as staticContentCtrl">
  <script type="text/ng-template" id="static-content-options.html">
    <div ng-controller="StaticContentController as staticContentCtrl">
      <ul class="dropdown-menu">
        <li role="presentation" class="fname-{{::portlet.fname}}" ng-class='{hidden : inFavorites}'>
            <a ng-click="staticContentCtrl.addToHome(portlet)" href='javascript:;'><span>Add to home</span></a>
        </li>
        <li role="presentation">
            <a ng-click="openRating('sm',portlet.fname, portlet.title)" href='javascript:;'><span>Rate this App</span></a>
        </li>
      </ul>
    </div>
  </script>

  <app-header-two-way-bind
  app-title="portlet.title"
  app-icon="portlet.faIcon"
  app-option-template="'static-content-options.html'"></app-header-two-way-bind>

  <div role="main" class="col-xs-12 no-padding portlet-body">
    <loading-gif data-object='loading'></loading-gif>
	  <div ng-bind-html="::portlet.staticContent" class="up-portlet-content-wrapper" id="content-{{::portlet.nodeId}}">
	  </div>
  </div>
  <rating-modal-template></rating-modal-template>
</div>
