<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
 <frame-page
    app-title="Learning Analytics for Instructors"
    page-title="Learning Analytics for Instructors"
    white-background="true">
    <div ng-controller="LearningAnalyticsController as learningAnalyticsCtrl" class="portlet-details-page">
    <md-content class="learningAnalytics__content md-uwMadison-theme">
      <div data-role='content'>
        <h2>Tools</h2>
        <ul data-role='listview'>
          <li>Learner Engagement Analytics Dashboard (LEAD)
            <ul style="padding-left:1.2em" data-role='listview'>
              <!-- Leaving for test purpose only -->
              <li ng-if="forInstructorsOnly">this is for instructors only</li>
              <li ng-if="!forInstructorsOnly">this is for everybody</li>
              <li><a href="" target="_blank" rel="noopener noreferer">Current semester (S21)</a></li>
              <li><a href="" target="_blank" rel="noopener noreferer">Fall 2020</a></li>
            </ul>
          </li>
          <li><a href="" target="_blank" rel="noopener noreferer">Course Undergraduate Enrollment Snapshot</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Canvas New Analytics</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Canvas Context Cards</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Kaltura Analytics</a></li>
        </ul>

        <h2>Resources</h2>
        <ul data-role='listview'>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics at UW-Madison</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics Guiding Principles</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Pedagogical Guide for Learning Analytics</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">LEAD KnowledgeBase Overview and Support</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics KnowledgeBase</a></li>
        </ul>

        <h2>Events</h2>
        <ul data-role='listview'>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics Community of Practice</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics Speaker Series</a></li>
          <li><a href="" target="_blank" rel="noopener noreferer">Learning Analytics Events</a></li>
        </ul>
      </div>
    </md-content>
    </div>
  </frame-page>
